[2019-09-18 20:05] trymoto opened #1 "Logo is missing"
Okay, so i think this project can better communicate its value through some visuals.

[2019-09-18 20:08] trymoto commented on #1
So i've been thinking about it: NestJS, Pino – what their perfect marriage could look like? Pino has some fine and refreshing pine tree texture and warmth. Nest is all about sweet furriness of cats and such.

![p-01](https://user-images.githubusercontent.com/2513899/65182079-26ddc480-da69-11e9-856b-31695f8e4a45.png)

[2019-09-18 20:12] trymoto commented on #1
Quite naturally, this comes to my mind:

![p-02](https://user-images.githubusercontent.com/2513899/65182121-407f0c00-da69-11e9-8b47-890e8be4a318.png)

Let me tell you why i think this is the best logo this project could ever have:
- has a cat
- has some nice pino pine trees in the background
- has lasers coming out of cat's eyes
- it shows both immense power of this tool and it's seamless integrat

[2019-09-19 10:40] iamolegga commented on #1
This is it. Closing. Please, open PR to add it

[2019-09-19 10:40] #1 closed

[2019-10-10 15:15] ghost opened #14 "[QUESTION] Expose underlaying pino logger instance"
Hi! Do you think that it would be possible to expose the underlying pino instance so that we can use the convenient syntax to print objects and other variables?

[2019-10-10 15:45] iamolegga commented on #14
Hi, if I understand correctly, you don't need to get underlying logger, you can just add params after `context` argument, look here:

https://github.com/iamolegga/nestjs-pino/blob/master/src/index.ts#L66

Is this the correct answer?

[2019-10-13 10:20] maricn opened #22 "[FEATURE REQUEST] Provide context per class"
**Is your feature request related to a problem? Please describe.**

I'm using globally imported pino logger module. Every time when I make a log line I would like to know from which class the log was created. Right now, I have to include the context manually. Like the following lines in the `README.md`:
https://github.com/iamolegga/nestjs-pino/blob/master/README.md#L56
https://github.com/iamolegga

[2019-10-13 13:43] iamolegga commented on #22
Hi, I think it can be solved with changing injection scope to [TRANSIENT](https://docs.nestjs.com/fundamentals/injection-scopes).

And then to save compatibility with built in logger we will left arguments as they are for now, but if you want to pass interpolation values to `message` string, you could just pass `undefined` or `null` to context argument, example:

[code]

@maricn Is this API will b

[2019-10-13 21:20] maricn commented on #22
@iamolegga Hi, thanks for the quick response! That makes sense from implementation perspective. However, leaving the argument as mandatory is not ideal, imho. As a user, I'd still need to type in this boilerplate argument, which is tedious.

I understand that logger methods can't differentiate between anything we pass in as a context (2nd arg) and first "printf" argument supplied, so in the curren

[2019-10-14 08:06] iamolegga commented on #22
I totally agree with you. So I can see here two options:

1. Drop `context` argument, and automatically drop `LoggerService` compatibility, but technically if you call pino with `msg` without interpolation tokens and with second argument as string, it will just concat them. So then logger methods will be fully compatible with pino API. And if use logger with this api as NestJS app logger, it will

[2019-10-14 08:12] iamolegga commented on #14
Closing this for now, feel free to reopen.

Also, I think you could be interesting in https://github.com/iamolegga/nestjs-pino/issues/22

[2019-10-14 08:12] #14 closed, assigned to iamolegga

[2019-10-14 09:28] maricn commented on #22
That solves the problem.

But introduces a new one. :)

I see this as a choice for who is this package written for: (a) NestJS devs who want to seamlessly use pino logger or (b) pino logger users who are writing a project in NestJS.

_Now, I doubt anyone chooses their framework based on logger they're going to use, but surely people that are using NestJS want to use some logger in their app, proba

[2019-10-14 09:58] iamolegga commented on #22
Yep, the main question here is positioning, but maybe NestJS users will like to set context once per file, actually It is more convenient, less code. So if choose first option, there can be one more feature:

If `Logger` methods are called in req/res context, then it will be called as  pino methods, if call is caused by app itself out of req/res context, like on the start, it will work like now, s

[2019-10-14 10:17] valerio-battaglia commented on #22
I would jump in and agree that my preference is also 1 with the same needs as @maricn .
If can be handled automatically under the hood, the switch between `Pino` and `LoggerService` syntax would be great, but I would be also keen to have a fully `Pino` module and the `LoggerService` compatible one so that I can pick whichever is better for my needs.

[2019-10-14 10:27] maricn commented on #22
If call is caused by app itself and we handle it with `(msg, context, ...args)` we might still face the same problem that made me originally open this ticket. Imagine you need to implement any [lifecycle event listener](https://docs.nestjs.com/fundamentals/lifecycle-events). You'd still need type in context in every line, if i got you right?

But, your concern still holds for handling internal Nes

[2019-10-14 10:48] iamolegga commented on #22
All right, so then there should be two classes:

- `class PinoLogger {}` with pino core API methods for pino users, how want the same core API and set context one time at injecting
- `class Logger implements LoggerService {}` for NestJS users, who used built-in Logger, and want the same API

So, I will try to do this in next few days, stay in touch 🙂

[2019-10-17 12:18] iamolegga commented on #22
Hey, I've almost done with it, but just need add tests and docs, so I guess it will be shipped in several hours. The api of new `PinoLogger` will be like:

[code]

And I'm still in doubt, which varian of injection and setting context is better:

1. via `@PinoLogger.Inject` like above or
2. via normal injection and manually setting context:

[code]

@maricn @valerio-battaglia what do you think?

[2019-10-17 13:28] maricn commented on #22
Looking nice.. :)
I would prefer the first one, so the whole thing is "required" to be setup with decorator in a single step. In the second example, we need a two step process - inject and setup.

One suggestion though, since we're talking about NestJS, everyone using it will often use `Inject` from `@nestjs/common` package, and `@PinoLogger.Inject` might be too expressive. What do you think about

[2019-10-17 14:44] trymoto commented on #22
IMO the second option looks more "natural" and clean, even if i have to manually setup the logger context.

This whole `@PinoLogger.Inject("MY_CONTEXT_VALUE")` may confuse people (myself included) about its purpose and whether it has anything to do with Nest's DI.

All and all, to me it's just more obvious what i'm supposed to do in this second example.

[2019-10-17 14:57] iamolegga commented on #22
Yep, thats the problem, because I would prefer to KISS, and actually get rid of all not necessary extra API, and make library users not to remember complex API with this `@PinoLogger.Inject` or `InjectLogger`.

I think that injecting it as regular service is more preferred, and makes setting context optional, so `PinoLogger` users may use it without required context setting, and use it just like `

[2019-10-17 15:17] iamolegga commented on #22
Thanks!)

It has no side effects for now, and it seems simpler, no?

All right, actually I can try to make both variants, maybe it will be the best choice. Give me just a little time)

[2019-10-17 15:26] maricn commented on #22
It's your call. I have a different background, and for me personally I'm skeptical of consequences of changing a field, so I usually dig in to verify and find it more expressive using API via methods.

I'm fine with the first one, and I tihnk we don't need two options for that.

[2019-10-18 16:01] iamolegga commented on #22
closed at v0.5.0

[2019-10-18 16:01] #22 closed

[2019-10-27 09:01] Code2Life opened #38 "[QUESTION] customize pino parameters"
In some cases, we need to customized pino/pino-http default params. How to configure default options globally like this?

`
{
  genReqId: generateLogId,  //pino-http ID generation

  prettyPrint: isDevMode ? { colorize: true } : undefined // dev env pino-pretty
}
`

[2019-10-27 11:58] iamolegga commented on #38
If you store `isDevMode` as variable (not as property of some `ConfigService`) see https://github.com/iamolegga/nestjs-pino#synchronous-configuration, it should work.

If you depend on some `ConfigService` see https://github.com/iamolegga/nestjs-pino#asynchronous-configuration

[2019-10-28 02:24] Code2Life commented on #38
Got.. Thanks a lot, sorry for missing the document

[2019-10-28 02:24] #38 closed

[2019-10-28 20:18] vabatta opened #45 "[QUESTION] reuse pino instance from adapter"
Hi,

would it be possible to reuse the instance of `pino` from the `FastifyAdapter`?

[2019-10-29 23:33] vabatta commented on #45
Yes exactly.

[2019-10-31 08:17] iamolegga commented on #45
Ok, this can be done via one more property in options, but there is one caveat:

There is internal _out of context_ pino instance, which is using when there is not `request` context, for example [lifecycle events](https://docs.nestjs.com/fundamentals/lifecycle-events) and application level logs.

So if you are configuring pino via `fastify` config, then there is no any way to get those config (or

[2019-10-31 14:40] iamolegga commented on #45
@vabatta see example [in this test](https://github.com/iamolegga/nestjs-pino/pull/49/files#diff-1b63fc3df60bc22586d98f82b4ae1ef1)

[2019-10-31 15:25] iamolegga commented on #45
shipped in v0.6.0

you can use property `useExisting: true` in options object

[2019-12-08 16:33] Nhacsam opened #97 "[FEATURE REQUEST] use "name" instead of "context" for the context"
**Is your feature request related to a problem? Please describe.**
I just migrated from another library I used to use `name: {ModuleName}` for the context.
The main reason I did choose this, is that the default key used by [pino-pretty](https://github.com/pinojs/pino-pretty)

I would like to change the context key to use `name` instead.

**Describe the solution you'd like**
I think it would be a g

[2019-12-09 10:14] iamolegga commented on #97
All right, got you. I'll try to find time for implementing this in next week or two

[2019-12-12 14:25] Nhacsam commented on #97
Thank you @iamolegga

[2019-12-14 16:25] StevenLangbroek commented on #97
Does #115 match your expectations? We have internally started using the `module` key but ecosystem interop is important for us.

[2019-12-14 18:33] StevenLangbroek commented on #97
Ah sorry I missed the requirement on being able to set it at root level. Refactornig.

[2019-12-15 18:38] iamolegga commented on #97
@StevenLangbroek answered you in related PR 🙂

[2019-12-17 19:11] skif48 opened #122 "How can I ignore specific API routes from being logged?"
Hi! Awesome module, thanks!

I have a question though. I've got a Nest.js application and here's my main.ts file:
[code]
After I set app.useLogger(...) I can see all the requests coming into the app in stdout. However I have a health check endpoint, which I'd like to prevent from being logged. How can I achieve it with this module?

Thanks in advance.

[2019-12-18 12:32] RichardWright opened #124 "[BUG] Having installed nestjs-pino, app fails"
**What is the current behavior?**

Running my nest app fails

Output from the console

 1: 0x8dc510 node::Abort() [node]
 2: 0x96f439  [node]
 3: 0xb62a3f  [node]
 4: 0xb635a9 v8::internal::Builtin_HandleApiCall(int, v8::internal::Object**, v8::internal::Isolate*) [node]
 5: 0x1db7cbadbe1d
Aborted (core dumped)

**Please provide the steps to reproduce.**

run the above command

**What is the expec

[2019-12-18 18:11] iamolegga commented on #124
Hi, this can be only if there is some problems with DI.
You can remove logger module (or just comment it) and check that your providers works properly.

If you could show real repo with example, maybe I could help with it.

Closing for now, feel free to continue discussion.

[2019-12-18 18:11] #124 closed

[2019-12-18 18:38] iamolegga commented on #122
Hello, thanks!

The feature of logging req/res is working on top of [pino-http](https://github.com/pinojs/pino-http), it pass options to this module, and it seems like there is no such option to exclude some routes 🤷‍♂️

But, I just looked, and I think this can be done on this side. I'll keep this issue open, and will return to it in next few weeks.

By the way, any help is welcome. I think the be

[2019-12-19 00:19] JVMartin opened #125 "[BUG] Doesn't work on Nest 6.7"
**What is the current behavior?**
Nest framework logs are not in JSON format:
![image](https://user-images.githubusercontent.com/4450814/71134010-8e62f780-21b1-11ea-847f-fb0256ee9946.png)

However, injecting PinoLogger into services and using that, those logs are in JSON just fine.

**Please provide the steps to reproduce.**
Simply install following readme instructions into the root module:
[code]

[2019-12-19 00:25] JVMartin commented on #125
Found a partial workaround, following the Nest docs.

Changed `main.ts` from:
[code]

To:
[code]

And now more of the system logs are JSON:
![image](https://user-images.githubusercontent.com/4450814/71134385-ef3eff80-21b2-11ea-8e79-a4613560f688.png)

Looks like it happens asynchronously though and those first logs won't be able to be JSON :thinking:

[2019-12-19 07:07] iamolegga commented on #125
Hello, all this is described in docs already:

https://github.com/iamolegga/nestjs-pino/blob/master/README.md#usage-as-nestjs-app-logger

[2019-12-19 07:12] #125 closed

[2019-12-27 11:56] jamespamplin commented on #124
Hi there, I work with @RichardWright

Found the fix to the issue, and you were right @iamolegga - it was a DI issue. Nest wasn't reporting any issues, but after upgrading to the latest Nest JS (`6.10` was on `6.0`), Nest was able to log our DI error, and we could fix it.

Note: the DI error had nothing to do with `nestjs-pino`, but with a different module. Strange that it flagged it up.

[2020-01-01 11:40] QRbaba opened #144 "[BUG] Why PinoLogger.info print double times"
this.logger.info("test info")  //  print 2 times
this.logger.debug("test debug")  // 1 time

[2020-01-01 11:48] QRbaba opened #145 "[QUESTION] How to disable http info?"
In some situation, i would‘t  want to logging http info (header 、req 、ua and so on) how to diable it？

[2020-01-02 04:31] #144 closed

[2020-01-04 05:42] iamolegga commented on #145
Duplicate of #122 please subscribe to that issue, I'll try to make it possible soon

[2020-01-04 05:42] #145 closed

[2020-01-06 16:54] iamolegga commented on #122
Hi! Done in v1.0.0

Use `npm install nestjs-pino@latest` and see [migration details](https://github.com/iamolegga/nestjs-pino#migrating)

[2020-01-06 16:54] #122 closed

[2020-01-08 11:20] skif48 commented on #122
Amazing, thanks! Will check it out ASAP.

[2020-01-09 03:14] #97 closed

[2020-01-09 03:20] iamolegga commented on #97
done in v1.1.0

see [params](https://github.com/iamolegga/nestjs-pino#configuration-params) and [migration guide](https://github.com/iamolegga/nestjs-pino#migrating)

[2020-01-17 09:58] dlecan opened #162 "[BUG] Basic configuration with Usage as NestJS app logger doesn't work"
**What is the current behavior?**

Basic configuration as described by [Usage as NestJS app logger](https://github.com/iamolegga/nestjs-pino#usage-as-nestjs-app-logger) doesn't work.

**Please provide the steps to reproduce.**

On a NestJS 6.10.10 project, just :
[code]

gives:

[code]

**What is the expected behavior?**

**Please mention other relevant information such as Node.js version and Oper

[2020-01-18 13:34] iamolegga commented on #162
Hi, @dlecan have you imported `LoggerModule` to your `MainModule` ?

[2020-01-19 12:07] iamolegga commented on #162
Closing issue for no response. Read all the docs please

[2020-01-19 12:07] #162 closed

[2020-01-19 20:38] dlecan commented on #162
Hi, thank you for your answer.

When I read the chapter [Usage as NestJS app logger](https://github.com/iamolegga/nestjs-pino#usage-as-nestjs-app-logger) (Level 2, same as "Install", so no reason to read "install" chapter), by reading the documentation, I did not know that an additional configuration should have been done.

Now, anyone will know it by searching the repository and by reading your a

[2020-01-20 08:55] amit12cool opened #164 "[QUESTION] Fetch request ID"
Im using below code to generate request ID:-

[code]

Now the issue is, i need to fetch the correlationId in another module for which i have exported the CorrelationIdGeneratorService from shared.module.ts and imported in my consuming modules.

Now in the consuming module im getting correlationId as undefined.

It seems that the object of CorrelationIdGeneratorService passed in loggermodule is dif

[2020-01-20 14:25] amit12cool commented on #164
Anyway to use requestId in other class?

[2020-01-23 10:31] Nhacsam commented on #97
Awesome, thanks !

[2020-01-23 13:10] iamolegga commented on #164
Please provide some minimal represented repo, without mongo and all other unnecessary things

[2020-01-31 07:11] iamolegga commented on #164
Closing, feel free to continue discussion

[2020-01-31 07:11] #164 closed

[2020-02-05 22:17] pkchv opened #192 "[BUG] Path exclusion doesn't work as expected with predefined paths"
**What is the current behavior?**

Implementation of route exclusion (see [#122 ](https://github.com/iamolegga/nestjs-pino/issues/122#issuecomment-567157358)) does not allow conditional exclusion of predefined paths without explicitly specyfing all of the applications controllers in `forRoutes` attribute.  This issue is caused by a known limitation of Nest interoperability with functional middlewa

[2020-02-06 13:16] iamolegga commented on #192
Just a few word about `doesn't work as expected`: actually it works as expected and as described [here](https://github.com/iamolegga/nestjs-pino#configuration-params) in related props. It's even covered with tests. Your problem refers to **limitations of framework itself**. So this is not the bug of current library, and I'm closing this issue.

If you want to resolve limitations of framework you c

[2020-02-06 13:16] #192 closed

[2020-02-07 10:29] amit12cool opened #199 "[QUESTION] Is there a way to log function start and end automatically"
Is there a way nestjs-pino supports automatically logging function start and end along with function arguments.
I just want to avoid tedious work of adding a info log in each function everytime.

[2020-02-07 10:32] amit12cool commented on #164
This is resolved for me now.
Solution:- Im generating new requestId in middleware for each request and updating the request object with the requestId property.

[2020-02-07 10:55] iamolegga commented on #199
No, there is not for now. Do you want this feature to be realised as some decorator for service/service method?

[2020-02-07 10:56] amit12cool commented on #199
Yes, would be great?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: iamolegga <notifications@github.com>
Sent: Friday, February 7, 2020 4:25:37 PM
To: iamolegga/nestjs-pino <nestjs-pino@noreply.github.com>
Cc: amit12cool <amit.dhawan@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [iamolegga/nestjs-pino] [QUESTIO

[2020-02-07 11:00] iamolegga commented on #199
Yep, I think this could be useful. Can you open feature request please with described details, and I'll try to find time for this, or maybe someone else could see this and dive into it faster than me

[2020-02-07 11:46] amit12cool opened #200 "[FEATURE REQUEST] Log function start and end automatically"
**Is your feature request related to a problem? Please describe.**
Avoid writing logs on each function. Lets say I want to write function entry and exit log in 'INFO' level, so I can have a option like a decorator which I can mention on top of function something like @Loggable, then the logs with function argument will be printed on function start and function end.

**Describe the solution you'd l

[2020-02-07 11:46] amit12cool commented on #199
Done!.

[2020-02-07 11:46] #199 closed

[2020-02-07 11:53] iamolegga commented on #200
Also I think that it should be configurable, which `level` and maybe something more, like `logArguments`.

Good, by the way if anyone is seeing this, PR are welcome, before I find the time to start working on this 😀

[2020-02-07 12:01] amit12cool commented on #200
Also, it could print the function name automatically..would be awesome.:-)

[2020-02-07 15:20] amit12cool commented on #164
@iamolegga  Actually there is one scenario in which I need to generate requestId which is not handled by nestjs Pino. The scenario is as below:-

We get some events from a publisher in our nodejs code. Now I need to log that request(event) and generate new unique requestId. The issue is how genReqId() can be called in this scenario?

[2020-02-10 08:40] iamolegga commented on #164
If I understand correctly, can you also store `genReqId` function in variable of global or module scope when you define it?

[2020-02-10 09:20] amit12cool commented on #164
Yes, so that request ID can be updated from lets say at the entry point of request or the origin of request is an event from Azure Event hub on reception of which the request Id can be generated.

[2020-02-10 10:39] iamolegga commented on #164
Maybe you can provide tiny example?

[2020-02-13 10:00] amit12cool commented on #164
I could but Im short of time. Sorry.
Scenario I can again explain:-

I have a event listener which receives the event from cloud. Now i need print the logs with requestID generated. Will my genReqId() method be called in this case. If not, how can we do that?

[2020-02-13 12:20] iamolegga commented on #164
Only thing that I can suggest is export that `genReqId` directly or assign it to some variable and call it at any place you want 🤷‍♂️

[2020-02-13 13:23] amit12cool commented on #164
You mean to export from the logger module.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: iamolegga <notifications@github.com>
Sent: Thursday, February 13, 2020 5:50:37 PM
To: iamolegga/nestjs-pino <nestjs-pino@noreply.github.com>
Cc: amit12cool <amit.dhawan@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [iamolegga/nestjs-pino] [QUESTION] Fetc

[2020-02-14 11:23] amit12cool commented on #164
Basically how can i call genReqId from anywhere in the code?

[2020-02-15 18:59] iamolegga commented on #164
If you need some deps to create this function, you can assign it to variable, and `export` function that returns this variable

[2020-03-15 04:40] arvinsingla opened #237 "[FEATURE REQUEST] Support autoLogging ignorePaths feature of pino-http"
**Is your feature request related to a problem? Please describe.**
The [latest version](https://github.com/pinojs/pino-http/pull/77) of pino-http (`4.4.0`) includes a new param for autoLogging called ignorePaths which allows you to specify an array of paths to ignore. We need this to prevent logging for our health-check endpoints.

There are two issues I discovered when trying to see if I could ge

[2020-03-16 08:36] iamolegga commented on #237
Good, thank for your work! 👍

[2020-04-01 21:17] gperdomor opened #253 "[QUESTION] Is posible disable the request logger middleware?"
Hi... Is possible toggle on/off the request logger?

[2020-04-02 11:46] iamolegga commented on #253
Hi, if you need to prevent request/response log and you DO NOT want to use logger in current route, you can do this via [config params](https://github.com/iamolegga/nestjs-pino#configuration-params) (`forRoutes`, `exclude`)

if you need to prevent request/response log and you DO want to use logger in current route you can look at [API of related library](https://github.com/pinojs/pino-http#api) (`

[2020-04-02 11:46] #253 closed

[2020-04-02 11:48] iamolegga commented on #237
Hi, I see now that https://github.com/pinojs/pino-http#api is updated. So are we good now and I can close this issue, or we need to update something?

[2020-04-02 11:55] arvinsingla commented on #237
I think we can close this request. We are still waiting for them to put out a new release that includes the changes, but when they do the current package.json rules in this project should pick it up.

[2020-04-02 11:58] iamolegga commented on #237
Good, thank you very much for your work! This is very important feature 👍

[2020-04-02 11:58] #237 closed

[2020-04-02 12:00] iamolegga commented on #253
Also see [this comment](https://github.com/iamolegga/nestjs-pino/issues/237#issuecomment-607800046) in another issue, seems like it is not shipped now, but may be soon

[2020-04-06 14:16] mbreton opened #264 "[FEATURE REQUEST]"
**Is your feature request related to a problem? Please describe.**
I'm looking for a way to add the Application name into each log.

**Describe the solution you'd like**
I would like a new parameter in forRoot module method in order to give an App name.

**Describe alternatives you've considered**
I would like to get access to Pino instance logger used in the module in order to create a child logg

[2020-04-06 14:42] iamolegga commented on #264
Hi, you can do this via [mixin method](https://github.com/pinojs/pino/blob/master/docs/api.md#mixin-function). Just pass it to `pinoHttp` property.

[More about `pino` API](https://github.com/pinojs/pino/blob/master/docs/api.md#api)
[More about `pino-http` API](https://github.com/pinojs/pino-http#api)

[2020-04-06 14:42] #264 closed

[2020-04-06 15:50] mbreton commented on #264
You know how to talk to me. 🖖

Thank you for your quick answer!

[2020-04-07 08:58] na-ji opened #265 "[FEATURE REQUEST] Customize requests messages"
Hello,

**Is your feature request related to a problem? Please describe.**
I would like the ability to customize the messages automatically logged by `pino-http` (`request completed` and `request errored`).

**Describe the solution you'd like**
Since version 5.0.0 of `pino-http`, two new options were added: `customSuccessMessage` and `customErrorMessage` to do this. So in the end my feature reques

[2020-04-07 09:09] iamolegga commented on #265
Thanks, if you are ready to monitor for typings you can ping me when it's done or even create PR by yourself 👍

[2020-04-17 16:43] gperdomor commented on #253
@iamolegga even when use forRoute and exclude to disable the route logging, the middleware is still configured, so in this particular case when I want exclude all routes, the middleware is not necessary...

[2020-04-19 16:32] iamolegga commented on #253
@gperdomor Excuse me, I didn't get it, what is your case?

[2020-04-20 13:59] gperdomor commented on #253
@iamolegga don't worry... In my case, I only want to use the logger service, not the middleware...

Here is where the middleware is registered... Maybe one parameter `middleware: boolean` should be sufficient to enable or disable the middleware https://github.com/iamolegga/nestjs-pino/blob/d338c54f6c4c06ce1ea69f00805eb75344c00c1c/src/LoggerCoreModule.ts#L67

[2020-04-20 15:06] iamolegga commented on #253
Got you, sorry, but middleware is required, because it creates `logger` object which is used internally by Logger/PinoLogger, so yes, you can rely on `autoLogging`/`autoLogging.ignorePaths` properties of `pinoHttp` object of params.

Just saw, that new pino-http's types are shipped already, so you can wait for new release with this soon

[2020-04-20 21:31] angristan opened #275 "Thanks you for this!"
I had a hard time finding a clean and easy way to log HTTP requests with Nest. Thank you ❤️

[2020-04-20 21:31] #275 closed

[2020-04-21 06:37] iamolegga commented on #275
You are welcome 👍

[2020-04-21 21:50] iamolegga commented on #253
check out v1.2.0

[2020-04-29 08:30] iamolegga commented on #265
Hey @na-ji pino-http@5 and it's types are [merged in master](https://github.com/iamolegga/nestjs-pino/blob/master/package.json#L34-L36) and shipped in `1.2.0`. So I'm closing this

[2020-04-29 08:30] #265 closed

[2020-05-05 21:08] Mistic92 opened #290 "[FEATURE REQUEST] Support GCP logging"
**Is your feature request related to a problem? Please describe.**

A clear and concise description of what you want to happen.
Is it possible to support GCP logging like they have integration with [Bunyan ](https://github.com/googleapis/nodejs-logging-bunyan)and [Winston](https://github.com/googleapis/nodejs-logging-winston)?

When using pino on GCP I see that it's formating logs well to make the

[2020-05-06 07:09] iamolegga commented on #290
Hi, this question is not related to `nestjs-pino` because this is only wrapper for `pino` with some framework's specific.

But, I googled and found [pino-stackdriver](https://github.com/pinojs/pino/blob/master/docs/transports.md#pino-stackdriver). I think this is what you are looking for

[2020-05-06 07:09] #290 closed

[2020-05-06 09:44] Mistic92 commented on #290
Thank you

[2020-05-21 06:23] BooNoo opened #300 "Log to FILE or DB"
Hello!

How can I implement log to file or database?

I use global log as bellow:

async function bootstrap() {
    const app = await NestFactory.create(AppModule, {
        logger: false,
    });
    app.useLogger(app.get(Logger));
    await app.listenAsync(process.env.PORT || 3000);
}

bootstrap().then();

[2020-05-21 07:36] iamolegga commented on #300
Hi, https://getpino.io/#/docs/transports

[2020-05-21 07:36] #300 closed

[2020-05-21 08:46] zxchcyc opened #301 "[QUESTION]How to use in Guards Interceptors..."
sorry,  I am a newbie in nestjs, How to use in Guards Interceptors Pipes Exception filters Middleware, can you provide a demo.

[2020-05-21 09:40] iamolegga commented on #301
Just inject class as you do with any other services in guards, interceptors, pipes, exception filters, middleware. Sometimes you need to use https://docs.nestjs.com/providers#property-based-injection, but in common it's the same as you do it in controllers and services.

For now, I'm closing this question, because it's general and related more to NestJS than this project. But if you are faced with

[2020-05-21 09:40] #301 closed

[2020-05-22 04:24] Jeff-Tian opened #303 "[QUESTION] How to log the res.body"
By default, only `responseTime`, `statusCode` and `headers` are logged.

[code]

Is there a configuration to enable logging res.body?

[2020-05-22 06:57] iamolegga commented on #303
[There is example](https://github.com/pinojs/pino-http#logger-options) how to provide custom serializers to `pino-http`, which params you must pass to `pinoHttp` property of `nestjs-pino` [configuration params](https://github.com/iamolegga/nestjs-pino#configuration-params)

[2020-05-22 06:57] #303 closed

[2020-05-22 07:37] Jeff-Tian commented on #303
Thanks, by following your provided link, found there is an exact example to log request's body here:

https://github.com/pinojs/pino-http/pull/76/files

[2020-05-25 16:56] micalevisk opened #304 "[QUESTION] Why `PinoLogger` instance don't show the error object"
When I use a `PinoLogger` instance to display some error object like `this.logger.error(Error('foo'))` I get this:
[code]
seems like the arg isn't serialized by `pino.stdSerializers.err` because
[code]
works as expected (with `{ type, message, stack }`). This happen even when I explicity define the serializers. Is it the right behavior?

Great lib btw!

[2020-05-25 18:19] iamolegga commented on #304
Hi, it's interesting, could you please provide minimal example repo on this?

[2020-05-25 19:54] micalevisk commented on #304
While testing the minimal example I figured out that this issue appear when I define the context to the `PinoLogger` instance. Without calling `logger.setContext` or using the `@InjectPinoLogger` decorator, `this.logger.error(Error('foo'))` show the error object.

You can download the example here: https://codesandbox.io/s/nestjs-pino-issue-304-lgxwv

[2020-05-26 03:08] micalevisk commented on #304
I just realize this is a bug :/

This happen due to the following code
https://github.com/iamolegga/nestjs-pino/blob/141a69bea58516d33d871ce4ea715ca108f4444b/src/PinoLogger.ts#L92
because in my case `firstArg` has non-enumerable props (`stack` and `message`) so they aren't copied to the new object created there.

[2020-05-26 07:37] iamolegga commented on #304
Good catch, thanks. I'll try to see what can be done here

[2020-06-01 01:28] matomesc opened #306 "[QUESTION] Usage with pino-caller"
I would like to use [pino-caller](https://github.com/pinojs/pino-caller) to log the line number where the log method was invoked. Is it currently possible to use the returned `pino-caller` logger instance when configuring this module?

[2020-06-01 10:14] iamolegga commented on #306
You can see example of passing specific logger instance [here](https://github.com/iamolegga/nestjs-pino#extreme-mode). But I'm not quite sure if this will work for you, because logger methods are called via wrapper class, but you can try anyway

[2020-06-01 10:14] #306 closed

[2020-06-02 19:39] matomesc commented on #306
Thanks! Sadly I wasn't able to get it to work because `pino-caller` proxies only certain methods to the underlying logger and `child` is not one of them (this module needs it) - this can easily be fixed in `pino-caller`, however we also need to fix the the stack trace to account for the added frames by `nestjs-pino`. I will give this a try and report back.

[2020-07-03 13:08] tfalvo opened #322 "[QUESTION] Performance and async_hooks"
Thank you guys for your good job with this library.
Pino is a great logger, and nestjs-pino provides a very nice integration for NestJS.

However, I'm interested to know your point of view [about performance question](https://github.com/nodejs/benchmarking/issues/181) we can read about  `async_hooks` which is still in experimental status, and with the main reason of performance impact.
In addition

[2020-07-03 15:42] iamolegga commented on #322
Hi, I actually don't know what to say. As a short answer I personally didn't reach some limitations, but my projects aren't highload. So if you have some you are free to use something else or make some improvements to this lib 🙂 If you want to see some benchmarks and compares of different implementation (`async hooks` vs `request scope`), sorry, but I don't have enough time for them, but they are

[2020-07-03 15:42] #322 closed

[2020-07-06 10:09] tfalvo commented on #322
👍  Thank you for your answer @iamolegga. I really appreciate.
I don't have any experience yet with `async_hooks`, it's why I was a little worried about performance after some readings.
Maybe, I should take in account this performance topic, but without overestimating it.

Thanks again!

[2020-07-14 07:54] humbertowoody opened #330 "[QUESTION] How to use Pino for entire application with configuration options?"
Hi!

First of all, thanks for this module, it is really appreciated.

I am trying to use Pino Logger throughout the application; perhaps I am wrong about it, but what I am doing is to add the following code to `app.module.ts`:

[code]
And, in `main.ts`:

[code]

The issue is that, if I import `LoggerModule` and call `forRoot` (or `forRootAsync` by injecting `ConfigService` etc), *without* any Pino

[2020-07-14 07:58] iamolegga commented on #330
Hi, it's very interesting, could you create some mini example repo for that?

[2020-07-14 08:05] humbertowoody commented on #330
Sure! Thanks for your quick response :)
https://github.com/humbertowoody/example-pino-nestjs

This is the most simple case I can come around.

[2020-07-14 08:38] iamolegga commented on #330
Thanks, I'll look at it in next couple of days

[2020-07-15 20:03] JVMartin opened #331 "[QUESTION] How to change context of "automatic logs of every request/response"?"
As discussed in the docs:
[code]

I'm talking about these last logs in the list, "automatic logs of every request/response". (The ones where `"msg":"request completed"`...)

I need to add a "context" to these logs, e.g. "Http", so that I can filter them out of my log aggregator.

How can I set `"context":"Http"` on these logs?

[2020-07-15 20:27] JVMartin commented on #331
I figured out how to accomplish this.

For anyone else wondering, I used this:

[code]

[2020-07-15 20:27] #331 closed

[2020-07-18 07:44] iamolegga commented on #330
Hey @humbertowoody just found the problem. When using `prettyPrint` property you need extra installation of `pino-pretty` as it said in [docs](http://getpino.io/#/docs/api?id=prettyprint-boolean-object) 🙂

[2020-07-18 07:44] #330 closed

[2020-07-21 22:02] humbertowoody commented on #330
Thank you very much @iamolegga !
Sorry to miss that part of the docs! Guess I just read this package ones and not the pino itself ones! Really sorry about this.
Thanks for quick response and guidance :)

[2020-07-30 14:02] Somya-Bansal opened #340 "[QUESTION] How can I retrieve the 'req.id' from each request?"
I have a microservice architecture, where all external requests are http, while internal ones are gRPC.
Now for logging, I want to have a unique id for each http request, so that I can have a correlation between my logs in different microservices.

Is there a way to retrieve the 'req.id', so that I can provide it as metadata in my clientGrpc call?

[2020-07-30 15:44] iamolegga commented on #340
does it solve your issue https://docs.nestjs.com/controllers#request-object ?

[2020-07-31 09:14] #340 closed

[2020-08-12 00:47] btilford commented on #253
Does the request logging work with fastify? I can't seem to get a configuation that will do access/error logs or include the request id in general logging throughout a request.

[2020-08-12 07:45] iamolegga commented on #253
It should, if it's not please provide example repo with bug

[2020-08-13 01:40] btilford commented on #253
I think the issue is with express-ctx, the middleware doesn't seem to be running on fastify.

https://github.com/btilford/nestjs-pino-fastify-bug

I was able to hack around it by writing custom middleware, express-ctx isn't doing very much either. If you used cls-hooked directly I think nestjs-pino could also work for lambdas or cloud functions where you have an invocation id.

[2020-08-14 18:57] andrucz opened #347 "[QUESTION] Logging ExecutionContext's data"
Does this library support logging the user associated with the request?

My application uses a custom `@nestjs/passport` strategy to handle authentication:

[code]

When I need to access the user in a guard, for example, I do the following:

[code]

Is there a way to automatically add the user to the log context?

[2020-08-15 09:33] iamolegga commented on #347
that's just regular middlewares order. You need set user somehow before pino module set it's own middlewares, and configure log to add custom property. look at pino-http parameters.

I guess main problem would be calibrate modules order for proper middlewares order, because there is no guaranty in nestjs for middlewares order set on different modules

[2020-08-15 09:33] #347 closed

[2020-08-27 08:31] qiaozhizhengdd01 opened #351 "[QUESTION] How to ignore request data and unique `req.id` in logs"

[2020-08-27 08:58] iamolegga commented on #351
https://github.com/iamolegga/nestjs-pino/issues/253#issuecomment-607795942

[2020-08-27 08:58] #351 closed

[2020-08-29 06:11] mayorandrew opened #353 "[BUG] When context is supplied to Logger, message gets stringified"
**What is the current behavior?**

Recommended way to use nestjs logger is to instantiate the singleton class `Logger` from `@nestjs/common` and supply context to it (https://stackoverflow.com/a/52907695/4601673), like so:

[code]

Using this pattern with nestjs-pino works quite well, but there is a catch.
When context is supplied, message is sent as a second argument to pino here: https://github.

[2020-08-29 09:13] iamolegga commented on #353
Hello, thanks for such detailed explanation.

yes, please, feel free to open pr, I'll try to review it as soon as possible, but please add test for both cases: when `msg` is object and string, or you can ask for my help with tests, if you'll need it 👍

[2020-08-29 17:19] iamolegga commented on #353
Just looked again at error example. It use mix of both loggers (original nestjs one and one from current library), so that's not how it's supposed to be used. There is only one way to use this library: `Logger` or `PinoLogger` only.

Current implementation of `Logger` from this package can not be used so far as in provided example from stackoverflow. If you still need this, feel free to open featu

[2020-08-29 17:19] #353 closed

[2020-08-29 17:37] mayorandrew commented on #353
Yeah, it was not obvious for me also, but I digged quite a lot and it now seems logical to me. Here is my reasoning:

NestJS somehow supports replacing the default logger with a custom logger via `app.useLogger`. Since NestJS actively uses DI, changing the logger should not affect any of the other classes, but it should be a simple substitution of the service provider. I.e. in the app I should jus

[2020-08-30 13:33] iamolegga commented on #353
Ok, got you. So here we have 2 options:

- add one more class for using it only on `app.useLogger` level
- change existing `Logger` class, that would be breaking change, and that should be covered in docs along with benefits of it and migration to new version (change usages to original class). Also we should check codebase and update tests, examples etc.

I'm leaning towards the latter, because I

[2020-08-30 14:05] mayorandrew commented on #353
Thanks for the understanding. I also think the the second option if better in the long term.
Maybe we can create some transient `Logger` provider for the old logger interface to smooth out the transition and mark it deprecated. It will use the new mechanics under the hood, but API will remain close to the original.

Will be glad to help by making a new feature request and updating my PR. Just in c

[2020-08-31 08:17] iamolegga commented on #353
I think that's unnecessary. I think that the best way to deal with migrating to original class is create codemod, but that could be challenging.

feel free to open it as you will be ready 🙂

[2020-09-07 11:30] meirkl opened #362 "[BUG]"
**What is the current behavior?**
[code]

**Please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
Should be able to set to `false`

**Please mention other relevant information such as Node.js version and Operating System.**
in `params.ts`
[code]
should be?
[code]

[2020-09-07 11:53] iamolegga commented on #362
https://github.com/iamolegga/nestjs-pino#v1

that's not bug, that's made in purpose, because that's weird use case when you dynamically decide to use existing fastify logger or creating new

[2020-09-07 11:53] #362 closed

[2020-09-18 21:17] gowrav-scienaptic commented on #253
Exception thrown when using `nestjs-pino` with FastifyAdapter.

[code]

@btilford, Can you please post the custom middleware you used to bypass this issue.

[2020-09-23 07:18] ly4she opened #371 "[FEATURE REQUEST] Changing loglevel during runtime."
Is there any way to dynamically change `loglevel `during runtime? Like in pino using `logger.level`.

https://github.com/pinojs/pino/blob/master/docs/api.md#loggerlevel-string-gettersetter

It will be very useful in my case, when I want to change `loglevel `in working microservice without its reloading. Now I set it with `.env` and there is no way to change it dynamicly.

[2020-09-23 07:25] kirit0s commented on #304
Pino expects Error object in `err` field and can correctly serialize it.

Example:
[code]

[2020-09-23 07:58] iamolegga commented on #371
No, there is not such feature so far, because there is not direct access to logger instance, more over there are two underlying logger instances: one for http context, one for the rest. And changing level of one of them should change level of another one for expected consistency.

I'll convert this question to feature request and leave it open, if there would be more requests for that, I can comeb

[2020-09-24 06:49] ly4she commented on #371
@iamolegga thanks for quick response. Ok, I've got you. If start to working on this feature I'll notify you to avoid double work on same feature.

[2020-10-02 03:58] purefun opened #372 "[QUESTION] How to log req.id only?"
It's overloaded to log `req` object with every log. Is there a way to just print `req.id` only?
Of course, the  `pinoHttp.autoLogging` should be turned on. the `request completed` log and `error` logs should contain `req` and `req` completely.
Thanks in advance.

[2020-10-02 05:31] purefun commented on #372
`pino-http` [attaches](https://github.com/pinojs/pino-http/blob/master/logger.js#L100) the `PinoLogger` instance to `req.log`, and logger service methods are delegated to it. I can't find a direct way to achieve my goal.

[2020-10-02 08:41] iamolegga commented on #372
Sorry, I'm not quite sure I understand the question. Is it correct that it's more about `pino-http` than `nestjs-pino`?

[2020-10-02 09:31] purefun commented on #372
When call `nestjs-pino` logger service, like `logger.log('something')`, it will print:
[code]
The `req.id` is generated by `pino-http`.

Cause `nestjs-pino`'s loggerService calls the log created by `pino-http` `(log.child({ req })` eventually, I think there is no way to control it.

[2020-10-02 09:31] #372 closed

[2020-10-02 14:06] iamolegga commented on #372
I think this could be a feature request at `pino-http`. It's already have `reqCustomProps`, which is close to feature you need

[2020-10-04 00:53] btilford commented on #253
@gowrav-scienaptic So I basically setup NestJS middleware instead of express middleware.

[code]

[2020-10-05 12:20] ErolPeel opened #373 "[QUESTION] How to inject nestjs-pino logger into Module configuration?"
I am new to NestJS and NodeJS. I am using `nestjs-pino` in my application.

In my `AppModule` class I am importing the `LoggerModule`. Then when I configure `TypeOrmModule` I want to log something with `nestjs-pino`. How can I inject the  `nestjs-pino` logger into my module configuration?

[code]

[2020-10-05 12:33] iamolegga commented on #373
do it just as any other provider, see example from official docs: https://docs.nestjs.com/fundamentals/custom-providers#factory-providers-usefactory

just add `inject` field type of array, that will go to your factory arguments

for injecting this lib to factory you can add `inject:[Logger]` or `inject:[PinoLogger]` (both imported from current package)

[2020-10-05 12:33] #373 closed

[2020-10-08 11:32] rorteg opened #375 "[QUESTION] Is it possible to set a request Id manually?"
In my case, we receive a specific Id per request, it goes through several systems and we use it to log and track the request cycle.

Is it possible to manually change the request Id? If so, what would be the best way to do this?

[2020-10-08 11:42] #375 closed

[2020-10-11 20:08] gowrav-scienaptic commented on #253
@btilford, Thank you for the response. On debugging my issue, I found that using nestjs-pino with `app.setGlobalPrefix('api');` throws the `UnhandledPromiseRejectionWarning`.

[2020-10-22 07:23] prokopsimek commented on #125
@iamolegga Hi, I have the same issue. I understand that it's necessary to add `{ logger: false }` but is there any possibility to log `[InstanceLoader]` and `[NestFactory]` with Pino?

In official documentation is a possibility to [create a new instance of custom logger](https://docs.nestjs.com/techniques/logger#custom-implementation) directly in `NestFactory.create` params.

[2020-10-22 07:36] prokopsimek commented on #125
I have another problem - the Nest logger logs all `RouteExplorer`, `RoutesResolver` and `NestApplication` logs but the Pino logs only the first 2 controllers of any module.

**Default logger**
![image](https://user-images.githubusercontent.com/5487217/96839558-a77bab00-1449-11eb-8011-1e1c3c17671d.png)

**PinoLogger with Default logger**
![image](https://user-images.githubusercontent.com/5487217/96

[2020-10-22 18:46] iamolegga commented on #125
yep, this is known bug, but as this logger is a little bit complex due to it's functionality and is made in it's own way, that's not matched with official docs. tl;dr there is not such possibility to log `[InstanceLoader]` and `[NestFactory]` from the very start so far, but this can be made in future, see discussion in #353

that could be a bug related to things discussed before, feel free to open

[2020-10-23 04:40] prokopsimek commented on #125
lol 😄

[2020-10-29 18:06] #304 closed

[2020-10-29 18:25] iamolegga commented on #304
Added extra check if passing `instance of Error`, and if so transfering it to `err` field. Anyway that's more related to `pino` than to this lib. if you passing some custom error please check this out: https://github.com/Microsoft/TypeScript-wiki/blob/master/Breaking-Changes.md#extending-built-ins-like-error-array-and-map-may-no-longer-work. Also this issue might be useful too: https://github.com/

[2020-11-06 02:01] heavenkiller2018 opened #386 "[FEATURE REQUEST]how to integrate with pino-multi-stream?"
how to integrate with pino-multi-stream? It looks like can't function well with it.

[2020-11-06 07:30] iamolegga commented on #386
https://github.com/pinojs/pino-multi-stream#pinomsmultistreamstreams-opts

https://github.com/iamolegga/nestjs-pino#configuration-params

[2020-11-06 07:30] #386 closed

[2020-11-06 14:38] wuminqi opened #387 "[BUG] System logs skipped on startup"
Hi,

I am using pino with configuration as illustrated below:

[code]

and
[code]

But the logging output missed the system logging part.

[code]

It is expected to output as many as system logging output, which has logging form  modules like NestFactory and InstanceLoader. Below is the output from the default logger.

[code]

Here are some sample code to reproduce this issue: https://github.com/w

[2020-11-06 17:16] iamolegga commented on #387
Hello, thanks for reporting, this is know issue, I've answered it before [here](https://github.com/iamolegga/nestjs-pino/issues/125#issuecomment-714688800).

I'll convert this to issue and keep it open, but not promising to solve this in nearest future, because that's require some refactoring, but from my point of view that's not so critical for most users. Some related discussions could be found

[2020-11-07 01:03] wuminqi commented on #387
Hi, thanks for your kindly reply.

I realize this issue as I misconfigured TypeORM and all the error logs from [TypeOrmModule] is swallowed. I have no idea what exception it is.

I updated the sample repo by adding typeorm and some invalid configurations.

Using nestjs-pino, the startup output
[code]

Using default logger, the startup output:
[code]

[2020-11-11 03:13] alexabidri opened #391 "[QUESTION] Extend PinoLogger class"
Hi guys! I would like to extend the Pino logger to be able to inject my own business logic in some cases (for example logger.error).

So decided to build a logger module on top of nestjs-pino.

Here are my two files

**logger.service.ts**

[code]

**logger.module.ts**

[code]

I am importing the module in app.module.ts.
My issue is when I start the application, I got this error at module initializ

[2020-11-11 05:31] pablo-w-dev commented on #391
+1

[2020-11-11 06:44] iamolegga commented on #391
Hi, easiest way is composition here, but if you want extend it please provide minimal repo for that without business logic as in your example above, I could take a look at it

[2020-11-11 07:06] alexabidri commented on #391
Thanks @iamolegga , here is the repo where you can find the simple logger module with controller "Hello World"

[2020-11-11 08:56] iamolegga commented on #391
Thanks, I'll try to find time for this in a week

[2020-12-22 11:19] bervol opened #404 "[FEATURE REQUEST] Get access to method `isLevelEnabled`"
I am using NestJS, pino and nestjs-pino.

Normally, I am injecting the `PinoLogger` like this to log my statements:
[code]

However, now I want to access the method [`logger.isLevelEnabled(level)`](https://github.com/pinojs/pino/blob/master/docs/api.md#islevelenabled). `Unfortunately`, PinoLogger does not have this method.

How can I access `isLevelEnabled` with nestjs-pino?

[2020-12-22 12:34] iamolegga commented on #404
Unfortunately not implemented yet. I'll convert this to feature request

[2021-01-08 00:24] nmjmdr opened #409 "[QUESTION] Is it possible to redact certain JSON keys from logging?"
I was wondering if it is possible to redact certain JSON keys from request logging and logging? Pino has support for redaction, but I could not see a Param for redaction in nestjs-pino.

[2021-01-08 12:30] iamolegga commented on #409
could you please add more details and references, unfortunately question is not clear for me

[2021-01-09 00:06] nmjmdr commented on #409
Example of redaction in pino: [Redaction in Pino](https://github.com/pinojs/pino/blob/master/docs/redaction.md)

I was wondering if this is possible in nestjs-pino

[2021-01-09 06:49] iamolegga commented on #409
The answer is in [docs](https://github.com/iamolegga/nestjs-pino#configuration-params):

[code]

https://github.com/pinojs/pino-http#pinohttpopts-stream:

[2021-01-09 06:49] #409 closed

[2021-01-11 02:18] navmed opened #411 "[QUESTION] Log level when using as NestJS app logger"
I'd like to use this as a NestJS app logger as described here: https://github.com/iamolegga/nestjs-pino#usage-as-nestjs-app-logger

How can I specify the log levels and other configuration?

[2021-01-11 11:42] iamolegga commented on #411
You can specify log levels via configuration of LoggerModule: https://github.com/iamolegga/nestjs-pino#asynchronous-configuration please see https://github.com/iamolegga/nestjs-pino#configuration-params for more details

[2021-01-11 11:42] #411 closed

[2021-01-12 13:11] Sioxas commented on #375
How did you resolved the problem? I have the same question.

[2021-01-17 15:53] shahafa opened #416 "[QUESTION] "failed with status code 500" output instead of detailed error message"
When I'm throwing an error from Nest application nestjs-pino always prints in the error message "failed with status code 500" even though I'm throwing an error with a detailed message any idea how to solve this?

this is how I setup nestjs-pino
[code]

and this is how I throw the error
[code]

And nestjs-pino output
[code]

[2021-01-25 18:47] gmathavadoss-chwy commented on #416
any update on this issue? I am also facing the same.

[2021-01-26 16:46] orzarchi commented on #391
any updates regarding this? I'd also like to add some logic to `logger.error` (sending errors to Sentry)

[2021-01-27 03:23] iamolegga commented on #391
@orzarchi this can be done with current implementation, see docs of this lib and https://github.com/aandrewww/pino-sentry#usage

[2021-01-28 14:35] Sufiane opened #418 "[FEATURE REQUEST] allow string to be passed to `pinoHttp.stream` option"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Allow user to pass only a string to pinoHttp options, instead of a DestinationString. Forcing them to import `pino` to do a (recommended) `pino.destination(string)`

**Describe the solution you'd like**
A clear and concise description of w

[2021-01-28 14:37] Sufiane commented on #418
I'm closing the issue as this is not managed in nestjs-pino but in pino-http itself.

My bad for this.

[2021-01-28 14:37] #418 closed

[2021-02-05 17:30] dlecan commented on #411
Is it `level` or `useLevel`?

From https://github.com/iamolegga/nestjs-pino#asynchronous-configuration
[code]

From https://github.com/pinojs/pino-http#pinohttpopts-stream
[code]

[2021-02-08 06:08] iamolegga commented on #411
@dlecan this two different options

`level` sets level for logger, so only logs with level >= options.level will be emitted. I recommend read the docs of `pino` first

[2021-02-08 21:40] dlecan opened #424 "[QUESTION] Does the configuration of pino-http also configure pino?"
Hello,

I'm using the syntax shown in https://github.com/iamolegga/nestjs-pino#asynchronous-configuration

[code]

I get this kind of logs:

[code]

Some of them are pretty-printed, some others aren't.

I also tried to force pino configuration:

[code]

But no change.

How to get the same configuration for all logs?

- pino@6.11.0
- pino-http@5.5.0
- nestjs-pino@1.3.0

Thank you

[2021-02-09 06:44] iamolegga commented on #424
Hi, according to [pino-http docs](https://github.com/pinojs/pino-http#pinohttpopts-stream) yes, it should configure pino as well. If you think this is a bug, please feel free to add some minimal represented example repo, but I would suggest to check pino-http first, because this is more related to that lib.

[2021-02-09 21:25] dlecan commented on #424
I finally had to debug `PinoLogger` to understand what was happening.
I had somewhere else in my application a "static" initialisation `private readonly logger = new PinoLogger(...)` in a class.

This one was being called at the very startup of my application by `import ...` mechanism, much earlier than my Pino configuration.

Pino was thus being initialised with default configuration as `outOfCon

[2021-02-09 21:25] #424 closed

[2021-02-11 08:50] AliYusuf95 commented on #387
@wuminqi I face this issue before it was from `pino.destination` configuration just use `sync: true` and it'll print the errors.

[2021-02-11 13:09] AliYusuf95 commented on #387
@iamolegga About Skipping the logging in the app startup I have done some workaround to solve this issue.
#### **tl;dt** `app.useLogger` will not work, we have to set the logger when the app created.
As stated in [nestjs docs](https://docs.nestjs.com/techniques/logger#dependency-injection) `The only downside of this solution is that your first initialization messages won't be printed anywhere at a

[2021-02-11 13:41] iamolegga commented on #387
Thanks @AliYusuf95 for your investigation! Main problem here is that if we are using some other nestjs providers for making config for nestjs-pino we should either duplicate the logic for building this config out of nestjs providers for consistency, or use another _default for your logger_ configuration.
In other words problem is: we need to build logger before building app -> we need to build app

[2021-02-11 14:06] AliYusuf95 commented on #387
Mainly it based on usage, if it needs to be dynamic with providers then it has to wait for app creation. Otherwise, it can be used independently.
I think since logging is an essential process that may probably be needed before creating the app -_e.g. logging nest factory_-, it's fine to build the logger before the app. After that, we can extend the logger after app creation if needed -which is exa

[2021-02-11 14:29] AckerApple commented on #391
I arrived at this issue needing to override pino and extend it's functionality.... I have since solved my issue and here is my working override code to that makes the root pino give me override access:

**TypeScript**
[code]

**JavaScript**
[code]

[2021-02-26 10:56] vladiulianbogdan opened #433 "[QUESTION] How to add userId for each authenticated request"
Hello,

I am using your library in my project. Thanks for your work, it is really helpful!

We are using a Passport local strategy for authentication (https://docs.nestjs.com/security/authentication#implementing-passport-local). If the authentication is performed correctly, the `user` object will be added on the `request` object that it will be later passed to the controllers.

What I would like t

[2021-03-01 07:37] iamolegga commented on #433
Hi, for such purpose I've created [this library](https://github.com/iamolegga/nestjs-configure-after), because nest doesn't have guarantee of modules registration and middlewares order, you can see [discussion for same problem of middlewares order in another my package](https://github.com/iamolegga/nestjs-session/issues/276). All you need is wrap this module in another one with extra decorator, an

[2021-03-03 17:57] dadooda opened #434 "[QUESTION] Use a custom wrapper class to log requests to files"
Hi guys,

I want the following setup for my NestJS application:

1. HTTP requests are logged to a dedicated file, using `nestjs-pino`. They'll be sent to the ELK logging facilities by Filebeat or whatever.
2. Additionally, `Logger` Pino object is available for manual invocation across the project (`this.logger.log("...")`).
3. Default NestJS stdout logger is enabled.

How do I achieve that?

Say,

[2021-03-12 10:14] iamolegga commented on #434
Sorry, I didn't get the question, if you need some kind of transport you can look at [pino docs](https://getpino.io/#/). If that's not what you want, please try to explain in other words

[2021-03-12 10:17] dadooda commented on #434
Please delete this. It's indeed confusing.

Thanks for getting in touch.

[2021-03-12 10:34] #434 closed

[2021-03-12 16:02] #433 closed

[2021-03-16 21:54] eugenk opened #439 "[FEATURE REQUEST] make the underlying pino instance accessible"
**Is your feature request related to a problem? Please describe.**
The underlying [pino instance is private](https://github.com/iamolegga/nestjs-pino/blob/99247e6c64732689c5de8b8dabcaa311bf95c632/src/PinoLogger.ts#L110-L112).

**Describe the solution you'd like**
Make it public or at least protected such that one could access it with the certainty that a minor/patch version update of this package

[2021-03-17 15:02] iamolegga commented on #439
Hi, feel free to open pr for this. I think this will solve #404 too

[2021-03-24 12:02] dguyonvarch commented on #391
This error is due to `pino-params` provider which is not exported by the module : https://github.com/iamolegga/nestjs-pino/blob/master/src/LoggerCoreModule.ts#L61

Any way to exported it ? I would like to extends `Logger` too...

[2021-03-24 12:17] iamolegga commented on #391
@dguyonvarch feel free to open pr for this

[2021-03-24 19:34] jdt6 commented on #391
until PR gets merged, @iamolegga, or @dguyonvarch  what is the work around for adding a wrapper around the Logger?

[2021-03-25 00:23] AckerApple commented on #391
Look in the comments @jdt6 I posted a working solution in both TypeScript and JavaScript

[2021-03-25 09:04] sinclairnick opened #442 "[BUG] `genReqId` in `pinoHttp` configuration does nothing"
**What is the current behavior?**

Setting the `genReqId` property to anything does not alter the `pid`.

**Please provide the steps to reproduce.**

Set `genReqId` to `(req) => "THING"`

**What is the expected behavior?**

My understanding is `genReqId` should set the `pid` property upon request, but it doesn't seem to do anything at the moment

**Please mention other relevant information such as

[2021-03-25 16:50] eugenk commented on #439
Thanks. I have created a PR.

[2021-03-28 07:06] #439 closed

[2021-03-29 04:23] iamolegga commented on #442
`pid` stands for _process id_.  Look at `genReqId` [here](https://github.com/pinojs/pino-http#pinohttpopts-stream).
Closing this issue, in case if this not works with `id` field in logs feel free to reopen, but please provide minimal example repo

[2021-03-29 04:23] #442 closed

[2021-03-30 04:40] iamolegga commented on #391
closed in #441

[2021-03-30 04:40] #391 closed

[2021-03-30 04:41] iamolegga commented on #404
closed in #439

[2021-03-30 04:41] #404 closed

[2021-04-04 07:18] jakobwgnr commented on #371
@iamolegga +1 for this, as I think changing log-level at runtime is a feature which a productive app should have.
I myself am bit unclear on how/which of the several solutions for pino should be incorporated in this package.
BR Jakob
P.S. thanks for creating this package

[2021-04-06 09:43] aerdnach opened #449 "[QUESTION] Change timestamp format"
Hi, I'm trying to change timestamp format. This is what I've done in my configuration accordingly to [docs](https://github.com/pinojs/pino/blob/master/docs/api.md#options):

[code]

But when logging i still see default format (Milliseconds since Unix epoch).

What am I doing wrong?

Thanks

[2021-04-06 12:28] iamolegga commented on #449
First of all this is more related to `pino-http`, because all options are passed as is. I can suggest to check [pino-http options](https://github.com/pinojs/pino-http#pinohttpopts-stream), maybe `wrapSerializers` is what you need?

Maybe best advise here is try setup `pino-http` in basic http server first. Or ask a question if it doesn't work in related repo.

So I'm closing this. If there are bug

[2021-04-06 12:28] #449 closed

[2021-04-06 15:31] DimosthenisK commented on #371
Now that `logger` is accesible you can do `logger.logger.level = level;`

[2021-04-06 15:57] iamolegga commented on #371
good idea, but need to check if this is root `pino` instance and not child logger of it

[2021-04-06 15:59] DimosthenisK commented on #371
Not sure about that, but it definitely works. I just tested it.

[2021-04-12 16:12] jakobwgnr commented on #371
@DimosthenisK , @iamolegga I'm using the usecase where Nest Logger is used. https://github.com/iamolegga/nestjs-pino#usage-as-nestjs-app-logger
Doesn't seem to work in this case. Any idea?

[2021-04-17 21:46] ababra opened #453 "Cannot use PinoLogger inside of NestJS repository"
Trying to use PinoLogger inside of a repository as follows (`test-date.repository.ts`):
[code]

However I keep getting the following errors on app startup:
[code]

Here's my `app.module.ts`:
[code]

Thanks for any insights!

[2021-04-21 06:31] iamolegga commented on #453
hi, this is not enough, minimal example repo please

[2021-04-29 16:49] #453 closed

[2021-05-11 23:20] goofiw opened #462 "[FEATURE REQUEST] Adding Additional Request Scoped Context"
Is it possible to add fields to the logged JSON object after the logger is configured?

For example, I'd like to add a userId and organizationId to each log after it's gone through my authorization guard for the duration of the request.

maybe something inside my auth guard like `this.logger.addContext({ userId, orgId});`. Then all logs for that request include the additional context.

I thought a

[2021-05-14 17:07] Andr-07 opened #464 "Trace log is not working [BUG]"
**What is the current behavior?**

I am using PinoLogger in my project. Everything works fine except logs 'trace' and 'debug'.

When I do logger.info, logger.warn or logger.error I get all that logs in console, but if I want to use other methods it just doesn't print at all.

My module:
[code]

**What is the expected behavior?**

I do expect printed logs with methods: trace and debug

**Please men

[2021-05-15 08:14] iamolegga commented on #464
Please provide minimal example repo, also double check that you've installed [pino-pretty](https://github.com/pinojs/pino-pretty#programmatic-integration)

[2021-05-15 08:46] iamolegga commented on #462
From pino docs it looks like there is only one way to add more fields in logger: using child logger (maybe you know some other way?). But this requires replacement of base logger in continuation local storage. Technically looks like this could be possible. But I would prefer `addFields` or `assign` instead of `addContext` because `context` word is already using for another thing. I'll convert this

[2021-05-15 11:32] Andr-07 commented on #464
@iamolegga Hi, thanks for respond!

Yes, pino-pretty is installed.

My example of module:

[code]

Versions:

"pino-pretty": "^4.8.0",
"nestjs-pino": "^1.4.0",
"@elastic/ecs-pino-format": "^1.1.1"

[2021-05-15 19:05] iamolegga commented on #464
@Andr-07 sorry, but this is not minimal example repo. Can you generate new nestjs project with [nest generate](https://docs.nestjs.com/cli/overview#basic-workflow), add only nestjs-pino, add your minimal usecase to show the bug and push this repo, so I can clone it and check with only one command. Thanks

[2021-05-15 19:44] Andr-07 commented on #464
@iamolegga - I have generated the project - https://github.com/Andr-07/pino-logger/blob/main/src/app.module.ts

![image](https://user-images.githubusercontent.com/46841332/118376179-0e6fd580-b5cf-11eb-8078-37c55c2fe918.png)

[2021-05-16 10:35] iamolegga commented on #464
Thanks, need time to check this

[2021-05-20 15:08] drxwskx opened #467 "[QUESTION] How do I get request/response auto logging with Fastify and pinoHttp custom config?"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question
I've configured nestjs-pino on my nestjs project and everything seems to be working correctly with a

[2021-05-21 08:06] iamolegga commented on #467
Hi, have you installed `pino-pretty`?

[2021-05-22 17:01] iamolegga commented on #462
I've been working a lot with microservices a while ago and just thought that this could be really useful here too, because we don't have same logging middleware mechanism for event receivers in microservices as we have for http server. So yeah, that could be really useful. I hope I can find time for this in nearest future 🤞

[2021-05-24 08:11] iamolegga commented on #467
@drxwskx ?

[2021-05-25 07:11] iamolegga commented on #467
no response, closing

[2021-05-25 11:05] Andr-07 commented on #464
@iamolegga

Hi, I forgot to write, that found the solution: I have just added the field `level: 'trace'` in pinoHttp.

My example:

[code]

[2021-05-25 12:30] iamolegga commented on #464
Ah, of course, levels 😀ok, closing this

[2021-05-25 12:30] #464 closed

[2021-05-25 19:32] drxwskx commented on #467
Yes, `pino-pretty` was installed...

Apologies for the late reply it was a long weekend/holiday here in Canada

[2021-05-25 19:57] drxwskx commented on #467
Also like I mentioned the pretty print works fine but once it's enabled I no longer get auto-request / response logging which works when the pretty print is disabled.

[2021-05-25 20:05] drxwskx commented on #467
So passing logLevel "debug" disables the auto logging

[2021-05-25 21:12] iamolegga commented on #467
Ok no problem, reopening, but can you please create small repo with bug reproduction for me to quick jump into it? Can not help with only code samples because there are some other not related things (for example formatters, node env, and could be something more?)

[2021-05-27 15:49] trycontrolmymind commented on #416
same thing

[2021-05-28 08:40] trycontrolmymind commented on #416
This solution works for me:

main.ts
[code]

all-exception.filter.ts
[code]

[2021-05-30 01:12] felinto-dev opened #472 "[QUESTION] How I could disable log for certain hosts"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)
[x] I've read [the docs of pino](https://getpino.io/#/)
[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

I would know how I could ignore certain hosts to be logged.

The reason is that I have a healthchec

[2021-05-30 21:55] hamxabaig commented on #462
I think this would be perfect use-case for this library. I integrated this in our production app to get better logs with request trace ids. Having user information in request will really be a game changer in terms of Dev Xp.

[2021-05-31 07:07] iamolegga commented on #472
https://github.com/iamolegga/nestjs-pino/issues/253#issuecomment-616613889
https://github.com/iamolegga/nestjs-pino/issues/253#issuecomment-617432600

[2021-05-31 07:07] #472 closed

[2021-06-04 12:26] #467 closed

[2021-06-08 21:11] khalilchoudhry commented on #303
@Jeff-Tian your initial question was about how to log response body on request completion not about request body log. have you figured out how to log response body from our API

I havent been able to log the response body yet. I still get:
`"res":{"statusCode":304,"headers":{...}},"responseTime":15`

@iamolegga tried your mentioned example as well for plain express based app with follow serializer

[2021-06-09 16:43] gf3 opened #477 "[FEATURE REQUEST] Replace NestJS Logger Entirely"
**Is your feature request related to a problem? Please describe.**
The current method of replacing the NestJS logger means we miss out on some important logs during app boot, or we allow the default logger for boot which doesn't match our format (or get sent to our other log streams if using pino-multistream).

**Describe the solution you'd like**
nest-winston has [a method](https://github.com/gre

[2021-06-10 07:26] iamolegga commented on #477
Good point. Need time to investigate this.

Also, just fyi in new major version of nest there should be buffering of this kind of messages, so loggers with async initialisation should handle this too. But that's the future, and it will require some time to implement new logger api for v8

[2021-06-15 01:35] ccontour commented on #477
I use this method to get into nest at boot time in my code. Little roundabout, but it gets all the module init messages

[code]

[code]

[2021-06-15 16:56] gf3 commented on #477
thanks for sharing @ccontour

[2021-06-16 01:35] goofiw commented on #462
Following up on this - I'm not sure I'll get to do it with this project.

Having all the request details on every log is more than we are after, so I think we might roll our on and add a traceId along with user info. (Thank you so much for pointing out out async-hooks, that's how I plan to do it)

[2021-06-25 06:34] michalmoravek opened #481 "[QUESTION] Change the log content in runtime / or to have more loggers"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

Is there a way how to change log content (amount of information) logged in each log message?

What I'm solving.

[2021-07-13 15:36] danielgak opened #495 "[FEATURE REQUEST] Nestjs v8 support"
**Is your feature request related to a problem? Please describe.**

As I upgraded the current version of my nestjs project (schematics and core) to v8, I found this error:
[code]
And as mentioned in the [docs](https://docs.nestjs.com/migration-guide) nextjs v8 adds a breaking change to how the Logger depency is imported and extended.

**Describe the solution you'd like**

I would like the package

[2021-07-13 16:43] iamolegga commented on #495
Thanks for opening this issue. I've already seen that the new version is coming along with refactored logger [and its interface](https://docs.nestjs.com/techniques/logger#custom-implementation). So this should take some time to rethink and refactor everything to support the new version. I hope I'll find time for this in the nearest future.

Btw, this should solve #477 #387

[2021-07-21 10:08] zimiovid commented on #495
@iamolegga Hi, are there any updates?)

[2021-07-21 11:22] Erchoc opened #499 "[QUESTION] how can i use logger in main.ts"
[ ] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[ ] I've read [the docs of pino](https://getpino.io/#/)

[ ] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

The Nest Logger has static function for this: `Logger.log()`

But I can't find this function in n

[2021-07-21 12:24] iamolegga commented on #495
@zimiovid not yet

[2021-08-05 08:32] Andr-07 commented on #495
@iamolegga  - Hi, do you have any news or any deadlines for a task?

[2021-08-05 15:31] alexeychikk commented on #253
@gowrav-scienaptic https://github.com/nestjs/nest/issues/5568#issuecomment-708510442

[2021-08-05 15:59] iamolegga commented on #495
@Andr-07 no news, no deadlines. I think I'll do this task in August, thanks for your patience

[2021-08-19 06:30] b1acKr0se opened #508 "[QUESTION] Is there any way to unbind the request/response data in regular logs?"
- [x]  I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

- [x]  I've read [the docs of pino](https://getpino.io/#/)

- [x]  I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

Basically, I want `nestjs-pino` to automatically log all requests/responses, but in regu

[2021-08-19 11:36] iamolegga commented on #508
It seems like in your case this library is not required at all, and you can set up [express-pino-logger](https://github.com/pinojs/express-pino-logger) as [global middleware](https://docs.nestjs.com/middleware#global-middleware) for example. Or choose any other logger middleware

[2021-08-19 11:36] #508 closed

[2021-08-20 22:08] iamolegga commented on #495
A little update here: just finished PoC for the new version of Nest, but before releasing I would like to do something more:

- [ ] switch from [cls-hooked](https://www.npmjs.com/package/cls-hooked) to [AsyncLocalStorage](https://nodejs.org/api/async_context.html#async_context_class_asynclocalstorage). It should work even [faster](https://twitter.com/andreypechkurov/status/1234189388436967426)
- [

[2021-08-23 18:12] iamolegga commented on #495
update: waiting for some clarification in [this issue](https://github.com/nestjs/nest/issues/7907) and after that, I think it will be released in several days

[2021-08-27 23:04] iamolegga commented on #495
v2.0.0 released, please read the [docs on migration](https://github.com/iamolegga/nestjs-pino#v2)

[2021-08-27 23:04] #495 closed

[2021-08-27 23:06] iamolegga commented on #477
solved in v2.0.0

[2021-08-27 23:06] #477 closed

[2021-08-27 23:06] iamolegga commented on #387
solved in v2.0.0

[2021-08-27 23:06] #387 closed

[2021-08-27 23:17] iamolegga commented on #416
solved in v2.0.0

[code]

[code]

[2021-08-27 23:17] #416 closed

[2021-08-29 17:33] iamolegga commented on #481
Hi Michal

I'm not sure I get the problem you have, but you can use:

application - `Logger` or `PinoLogger`
api - don't turn off logging of request/response
audit - same `Logger` or `PinoLogger` inside controller/service when you have all the required data

[2021-08-29 20:40] #462 closed

[2021-08-29 20:46] iamolegga commented on #462
Hi, just released v2.1.0, please check out [the docs](https://github.com/iamolegga/nestjs-pino#assign-extra-fields-for-future-calls). Works for http request scope so far. Will think later if I can add the same for microservices

[2021-08-29 22:01] #371 closed

[2021-08-29 22:04] iamolegga commented on #371
Just released 2.2.0 with this feature. [Docs](https://github.com/iamolegga/nestjs-pino#change-pino-params-at-runtime)

[2021-08-30 07:48] danielgak commented on #495
Good job! Thanks :)

[2021-08-31 15:34] respondsid opened #530 "Calling this.logger.assign({"traceId":"123456"}) in a middleware throws an error"
A middleware (scope request) should be able to setup traceIDs and application specific context for all the loggers it will be ideal if a middleware can do it

Error throws is

:"ExceptionsHandler","msg":"PinoLogger: unable to assign extra fields out of request scope

Seems like the async local storage is initialized after all the middleware and before calling the first controller, because same cal

[2021-08-31 15:57] iamolegga commented on #530
Closing. Read the template guide before submitting issue @respondsid

[2021-08-31 15:57] #530 closed

[2021-08-31 16:40] respondsid commented on #530
Sure can you provide the specific link please it will help

[2021-08-31 19:18] iamolegga commented on #530
1

<img width="139" alt="image" src="https://user-images.githubusercontent.com/5501657/131562543-10960e9d-0331-4739-bc70-8862b6dcf2f4.png">

2

<img width="1153" alt="image" src="https://user-images.githubusercontent.com/5501657/131562623-3caa645a-17e5-4ece-8d1a-79e4b81ab605.png">

3

<img width="899" alt="image" src="https://user-images.githubusercontent.com/5501657/131562684-582fb674-2f30-4afd-9

[2021-09-02 15:18] Ginden opened #532 "[FEATURE REQUEST] Use @Inquirer dependency injection"
Nest provides way to automatically detect to what class it's injected.

https://github.com/nestjs/docs.nestjs.com/issues/937

[2021-09-03 11:08] fuglu opened #534 "[BUG] No logs when using a custom express server"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**

Only request logs will be written when using a [custom express server](https://docs.nestjs.com/f

[2021-09-03 13:35] iamolegga commented on #534
Thanks, will check soon. Also, if you know how to fix feel free to open PR

[2021-09-06 04:53] kasvith commented on #416
@iamolegga cant we get the stack trace there as well?

[2021-09-06 08:45] iamolegga commented on #416
@kasvith please open a new feature request for that, will take a look at it when I have time

[2021-09-06 08:56] kasvith opened #535 "[FEATURE REQUEST] Correct stack trace in `request errored` pino-http's log"
**Is your feature request related to a problem? Please describe.**
By following #416 we now log the exception message. But it would be super helpful to log the actual stack trace there as well.
Most of the time we are unable to pinpoint the location without having the stack trace

**Describe the solution you'd like**
The library should automatically output the stack trace when handling HTTP errors

[2021-09-06 09:14] kasvith commented on #416
Done

[2021-09-06 10:16] iamolegga commented on #481
No response, closing

[2021-09-06 10:16] #481 closed

[2021-09-13 20:16] itheodoro opened #546 "[BUG] Request context not working when using FastifyAdapter"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
I'm using [NestJS with Fastify](https://docs.nestjs.com/techniques/performance#performance-fastif

[2021-09-14 07:03] nodejsdeveloperskh commented on #162
Add this code in your `app.module.ts`

[code]

An example/boilerplate : https://github.com/nodejsdeveloperskh/project-schema/tree/nestjs-mongoose

[2021-09-14 09:13] iamolegga commented on #546
@itheodoro hi, have you tried to play with [routing params](https://docs.nestjs.com/middleware#route-wildcards)

looks like the problem is that nest adapters use different routing libs, and it doesn't provide any clean way to detect which adapter is used currently to set proper default routing params, so here some basic routing params are set that works for both express and fastify in tests

[2021-09-14 14:44] itheodoro commented on #546
Hi @iamolegga, thanks for your reply.

I tried to configure routing params to match all available routes and got the same results as before. Is this what you suggest or I misunderstood something?

[code]

With the above code, [this log](https://github.com/itheodoro/nestjs-fastify-example/blob/main/src/app.controller.ts#L24) is also displayed without `req` object. On the other hand, the automatic r

[2021-09-15 13:42] iamolegga commented on #546
interesting, will look deeper into this

[2021-09-15 14:28] itheodoro commented on #546
Thanks! Let me know if I can help with something.

Just another behavior that may help is that `PinoLogger.assign` method throws an error with the following message in the same scenario: `PinoLogger: unable to assign extra fields out of request scope`.

[2021-09-20 21:00] ttoomm318 opened #553 "[QUESTION] flush logs immediately with bufferLogs: true"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

With nestjs 8 and nestjs-pino 2+, the recommended approach is to inject nestjs-pino Logger in mai

[2021-09-21 15:45] iamolegga commented on #553
@ttoomm318  If I understand your problem correctly, you are not starting http server, but using nest as DI to build some service and call it immediately, right? I think the problem is that when you pass `bufferLogs: true`, buffering stops after http server run, but this should be checked. Tl;dr you have two options:

- try to drop `bufferLogs: true`
- create your custom basic logger to check if th

[2021-09-22 04:38] ttoomm318 commented on #553
@iamolegga Thank you very much for the quick response! You are correct, I am building a [standalone application](https://docs.nestjs.com/standalone-applications) with Nest.

I figured out the problem thanks to your comment:

With this in mind, I traced through the code path from nestjs-pino to Nest packages and found:

1. With `bufferLogs: true`, a static flag in Nest Logger from `@nestjs/common`

[2021-09-22 14:21] iamolegga commented on #553
I believe this could be in docs of nest because [interface for custom logger implementation](https://github.com/nestjs/nest/blob/master/packages/common/services/logger.service.ts#L9-L40) doesn't have `flush` method, the described above logic is more related to nest core than to one of implementation, because it's common for all of them. But we can add a tiny example of this in the faq section of r

[2021-09-22 14:21] #553 closed

[2021-10-02 18:40] skliarovartem commented on #303
it is so strange to don't show response body. in case of security you need just exclude rout...
so, if there a way to simply print response body?

[2021-10-02 20:49] skliarovartem commented on #340
Did you find how to pass and get id's from service to service by transporters?

[2021-10-03 16:47] iamolegga commented on #303
@skliarovartem nothing strange. response body can be huge, can have sensitive data, can be of a binary type, the current default behaviour is better than anything else.

this question should be asked in `pino-http` library, not here, this is just a wrapper with nestjs related features

[2021-10-11 21:55] EdByrnee commented on #433
Did you manage to find a solution for this?

[2021-10-13 08:35] vladiulianbogdan commented on #433
I haven't tried yet what iamolegga suggested, but I will do it as soon as possible and I will let you know.

[2021-10-13 09:57] vladiulianbogdan opened #608 "[BUG] logger.assign does not add properties to "request completed" log."
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**

When I call `this.logger.assign({ someKey: someValue })`, the key is properly added to the logs

[2021-11-07 12:11] jasyes commented on #546
It's looks like there is a bug in latest versions of @nestjs/platform-fastify 8.1.2. The Middleware from module do not fire.
In NestJS github the [issue](https://github.com/nestjs/nest/issues/8234) was reported then probably resolved in version 8.0.11 however than Kamil revert commit with bug fix.
However after research I found the workaround.

in main.ts you can add global middleware and use pino

[2021-11-08 08:41] mbStavola opened #639 "[FEATURE REQUEST] Compatibility with pino 7 / pino-http 6"
**Is your feature request related to a problem? Please describe.**

`pino-http` just dropped [version 6](https://github.com/pinojs/pino-http/releases/tag/v6.0.0) not too long ago which brings support for `pino` [7](https://github.com/pinojs/pino/releases/tag/v7.0.0).

It might be a good idea to keep up with the latest version.

**Describe the solution you'd like**

Ideally, updating to the latest

[2021-11-08 10:07] adrianwix commented on #639
Please mention in the docs to install pino-http@5 in the meantime. I just lost some hours debugging a weird typescript error coming from the library that was not letting me compile

[2021-11-08 11:25] adrianwix opened #640 "[QUESTION] How to see the error stack trace?"
[x ] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
How do I get to see the error stack trace?
Without that I can't really use this logger in develop

[2021-11-08 15:08] iamolegga commented on #640
could you please provide a minimal example repo?

[2021-11-08 20:40] iamolegga commented on #639
@mbStavola thanks for openning. Dependabot already merged the new version. I'll check this locally and add some updates to docs about `pretty-print` examples. After that will release new version

[2021-11-08 20:43] iamolegga commented on #639
@adrianwix that's pretty strange if you have weird errors, because this package has peer deps set, so I believe you should either see warn on installing the wrong version of `http-pino` or the right version should be installed automatically if you are using the latest npm version 🤔

[2021-11-08 21:19] adrianwix commented on #640
Hi. I find it hard to do right now time-wise. The error came out of nestjs when using app.get() to extract a provider inside of main.ts. the message argument of Logger.call() was a string instead of an object and I guest that's why it didn't got serialized properly

[2021-11-08 21:40] iamolegga commented on #639
`2.3.0` published

[2021-11-08 21:40] #639 closed

[2021-11-08 21:48] iamolegga commented on #640
it looks like you are using `pino-pretty`, right? Can this be the reason for a missing stack trace? Unfortunately, it's hard to help you without an example repo and if you are unable to provide it I'll close this issue, sorry

[2021-11-09 08:27] adrianwix commented on #640
With pino
![image](https://user-images.githubusercontent.com/37629556/140887890-1f06170f-1a3b-4566-9aca-20b0fe1e1c73.png)

Without pino
![image](https://user-images.githubusercontent.com/37629556/140888494-b8da4a3d-03fe-436b-8e55-acd7250c1fae.png)

Repo: https://github.com/adrianwix/nestjs-pino-error

To replicate without pino just remove bufferLogs and comment out app.useLogger(app.get(Logger)) a

[2021-11-09 08:28] adrianwix commented on #640
It doesn't show the trace even without `pino-pretty`

[2021-11-09 09:01] iamolegga commented on #640
thanks, will check

[2021-11-09 11:29] bonejon commented on #608
Hi @iamolegga, I'm also interested in this behaviour. Looking at the pino-http repository this should be possible OOTB, however it does seem to be related to the ordering of the middlewares.

I found this thread [(https://github.com/pinojs/pino-http/issues/30)](https://github.com/pinojs/pino-http/issues/30) which seems to describe the exact behaviour mentioned by @vladiulianbogdan. I will try and

[2021-11-09 14:36] adrianwix commented on #640
I got this by calling `this.logger.error(Error)` directly. So in this case it works perfectly fine. The problem is that weird error from nestjs that is not an `instaceof Error` but a string.

[code]

[2021-11-12 10:31] iamolegga commented on #640
Just spent some time investigating this behavior, I believe we can close this issue because it has the same reason as the older one #535. Will add some notes soon

[2021-11-12 10:31] #640 closed

[2021-11-12 10:39] iamolegga commented on #535
thanks to @2zH for pointing out original reason. So the problem here is that `pino-http` doesn't play nice with `express` not passing the original error to logging middleware. Just checked this behavior with plain `express` and `pino-http`. Will check if something can be done with `pino-http` to fix that

[2021-11-12 12:42] iamolegga commented on #608
Just checked such example:

[code]

and this doesn't work.

All the suggested [here](https://github.com/pinojs/pino-http/issues/30) _angry hacks_  cannot be used because it's not universal for library with many users or add unnecessary complexity to configuration. Will check if we can solve this with `AsyncLocalStorage`, but in case if it's not possible I'll add this to the docs as a limitation of

[2021-11-12 19:55] iamolegga commented on #608
Unfortunately, after spending a whole day on this I could not find a solution. I believe this feature should be made on `pino-http` first without adding any workarounds. Will add this limitation to docs

[2021-11-12 20:21] #608 closed

[2021-11-12 21:54] iamolegga commented on #534
just checked, pretty strange behavior: if comment [this line](https://github.com/fuglu/nestjs-pino-custom-express-server/blob/main/src/main.ts#L25) everything works. So from my point of view, this could be a bug in Nestjs for a specific case when using `Adapter` and `bufferLogs` is set. This can be checked with dummy logger implementation

[2021-11-12 21:58] iamolegga commented on #534
so as a workaround you can disable logs buffering on startup. Closing but feel free to provide a dummy logger example if you would like to check if this is a bug of nestjs-pino or framework

[2021-11-12 21:58] #534 closed

[2021-11-12 22:03] iamolegga commented on #546
thanks @jasyes closing this as this is not a bug of the current lib, but will pin it in issues so everyone can see it. Please ping me here when this bug will be fixed.

[2021-11-12 23:31] micalevisk commented on #534
@fuglu I think must call `app.listen` instead of `server.listen`. It works if you do that

[2021-11-13 09:00] hakanaku1234 opened #652 "[BUG]"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
can't build in every tags and branchs

**What is the expected behavior?**
build successfully

**P

[2021-11-13 10:09] iamolegga commented on #652
Didn't get, do you want to use this as a dependency for your project or you want to build this project locally (then where are you trying to export something)? closing this issue, no example of bug provided

[2021-11-13 10:09] #652 closed

[2021-11-15 16:16] thomaschaaf commented on #546
@jasyes have you created an issue in the nestjs repo? can you also post where the commit was reverted?

[2021-11-16 09:38] raidokaldma opened #656 "[BUG] Missing stack trace of thrown error in log produced by nestjs built-in error handler"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

There is an open issue https://github.com/iamolegga/nestjs-pino/issues/535, but that issue focuses on `express`, but I am not convi

[2021-11-18 05:20] jasyes commented on #546
The main issue was that different version of fastify installed as dependency of @nestjs/platform-fastify and as dependency for project.

[2021-11-18 22:23] iamolegga commented on #656
Finally found the bug. Working on fixing it.

In short, there is a difference between nestjs built-in `LoggerService` interface in [v7](https://docs.nestjs.com/v7/techniques/logger) and [v8](https://docs.nestjs.com/techniques/logger). v7's `error` method has `stack` argument, but in v8 it's dropped for consistency between all the other methods. But [in many places of the nestjs sources](https://gi

[2021-11-18 23:57] #656 closed

[2021-11-19 00:04] iamolegga commented on #656
shipped in v2.3.1

[2021-11-19 08:32] iamolegga commented on #535
A small update, stack should be fixed in the latest release for logs produced by nestjs built-in error handlers (more on this here #656). So in the current issue we are tracking stack of `request errored` log by`pino-http`

[2021-11-19 12:04] raidokaldma commented on #656
I verified the fix works as expected. Thank you! 🙇

[2021-11-19 12:14] raidokaldma commented on #656
Just as a side note, It seems to me they did not drop the `stack` argument from built in logger's definition.
[code]
See: https://github.com/nestjs/nest/blob/v8.0.0/packages/common/services/logger.service.ts#L108

[2021-11-19 19:50] iamolegga commented on #656
But that's internal implementation. You should look at public interface for logger [here](https://github.com/nestjs/nest/blob/v8.0.0/packages/common/services/logger.service.ts#L18) and in the [docs](https://docs.nestjs.com/techniques/logger#custom-implementation)

[2021-11-19 20:00] raidokaldma commented on #656
In short, `Logger` is exported class, so it is not internal. However, if you wanted to extend their LoggerService, then you would be correct, `error` method is missing `stack` argument.

In my case, I am actually using `Logger` in my application as in example here: https://docs.nestjs.com/techniques/logger#using-the-logger-for-application-logging

For example:
[code]

And that's actually how I stu

[2021-11-22 13:35] chrapek commented on #652
For future readers:
If you encounter errors like:
[code]

You probably miss `"skipLibCheck": true` in tsconfig.json in your nest.js app.

I think nest-cli when creating an app with nest.js version <7 weren't adding this. Did it change since 8+ probably?
Not sure if this is a problem in `nestjs-pino` package or not tho.

[2021-11-22 15:52] flappyBug opened #674 "[BUG] context don't play well with nestedKey"
[ ] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[ ] I've read [the docs of pino](https://getpino.io/#/)

[ ] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
When config pino with [nestedKey](https://getpino.io/#/docs/api?id=nestedkey-string), the `contex

[2021-11-23 08:42] iamolegga commented on #674
This is not a bug at all. If every custom field (not added by `pino` automatically) is moving to the nested key, why should `context` be excluded from that? That's just `nestjs` specific, for `pino` it's pretty the same as any other custom field.

If you want to make an exception to the rule you can open a feature request in `pino`.

Closing

[2021-11-23 08:42] #674 closed

[2021-11-23 12:43] antspk opened #680 "[BUG] skipLibCheck causes compilation to fail"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
When `skipLibCheck` is disabled in `tsconfig.json` compilation fails.
[code]

**What is the expec

[2021-11-23 14:25] iamolegga commented on #680
could be caused by https://github.com/DefinitelyTyped/DefinitelyTyped/pull/57023

will check soon

[2021-11-23 15:25] tomtastico commented on #680
Having this problem too

[2021-11-23 18:36] antspk commented on #340
I'm actually searching for a solution myself, So far this is what I've come up:

I've created a separate service which is bound to request scope:
[code]

And the add that service to container:
[code]
After that you can inject that service wherever you need and retrieve req id of that request.

Haven't properly tested it yet though I've got this idea from the suggestion of:
https://docs.nestjs.com/

[2021-11-24 08:15] tomoat commented on #680
me too

[2021-11-24 13:29] iamolegga commented on #680
OK, so pino-team had decided to move the types from `@types/pino` to the lib's `.d.ts` file. [Without backward compatibility](https://github.com/pinojs/pino/issues/910#issuecomment-952861516)

Subscribe to [this issue](https://github.com/pinojs/pino/issues/1193) and switch `skipLibCheck` until it's fixed.

As this is not a bug of the current library I'm closing, but will pin it until it's fixed.

[2021-11-24 13:29] #680 closed

[2021-11-29 17:05] FredericEspiau commented on #680
@iamolegga https://github.com/pinojs/pino/issues/1193#issuecomment-981633962 it's been fixed

[2021-11-29 17:08] iamolegga commented on #680
@FredericEspiau thanks, already seen this too. Will check soon

[2021-11-30 03:35] delai commented on #391
@AckerApple how can i use the code, run the code in every nestjs controller or service? is there any  elegant way?

[2021-11-30 04:41] delai opened #692 "[QUESTION] have error while extend pino-logger"
1. logger.service.ts

[code]

2. logger.module.ts
[code]

3. import the MyLoggerModule in app.module.ts
[code]

4. while start app, here is the error message
[code]

waiting for any suggestion from you

[2021-11-30 08:03] iamolegga commented on #692
Not enough data. how are you injecting that extended logger? You can see working examples [here](https://github.com/iamolegga/nestjs-pino/blob/master/__tests__/extending.spec.ts)

But my suggestion is don't extend `Logger`, because this class is made for substitution, the extension support of `Logger` will be dropped in the next major version. So at least you can extend `PinoLogger`.

[2021-11-30 08:03] #692 closed

[2021-11-30 08:29] iamolegga commented on #680
It looks like not everything was fixed https://github.com/iamolegga/nestjs-pino/runs/4361882493?check_suite_focus=true
WIll check manually when I get time on this

[2021-11-30 18:09] antspk commented on #535
Correct me if I'm wrong or I am implementing this library in a wrong way.

I've got this setup going on:
[code]

And in my application I'm using custom errors, when an error is thrown like this:
[code]
I see this in logs:
[code]
When instead I'd like to seem something like this:
[code]

Now there's a logic in pino that does this here:
https://github.com/pinojs/pino-http/blob/a7abfb9dbe04d45ea05f14

[2021-11-30 20:08] iamolegga commented on #535
Thanks for researching @antspk, would you like to open a PR (with documentation and test) on this?

[2021-11-30 22:52] iamolegga commented on #535
Or maybe I misunderstood your case. It looks like your logs are produced by error handler (or not? This is not full log, so I can not say for sure). In that case, it's already fixed in the latest version. If this is pino-http's `request errored` log then yes, we can add such interceptor. Anyway, I hope in the next couple of days I will find time to check that

[2021-12-01 12:13] antspk commented on #535
I've created a minimal repository to show this issue:
https://github.com/antspk/nestjs-pino-err/tree/main

With a solution in a separate branch:
https://github.com/antspk/nestjs-pino-err/tree/solution

If run something like this in both branches:
[code]
and fire request e.g:
[code]

You should be able to see the difference in the `err` property, I would assume the behaviour with my suggestion shou

[2021-12-01 14:10] iamolegga commented on #535
Finally checked your solution. Let's add this to the library!

Can you make a new section in the docs which describes this feature, and add a test on this pretty same as [this one](https://github.com/iamolegga/nestjs-pino/blob/master/__tests__/errors.spec.ts#L176-L209). To make this work you'll need add a new method to the [TestCase class](https://github.com/iamolegga/nestjs-pino/blob/d737cbd621dd

[2021-12-01 14:15] AckerApple commented on #391
@delai I have copy, pasted, and edited the clean solution we have been running on several projects.

Good luck reading out the details, I just quick and dirty got you the bulk of our solution

[code]

[2021-12-01 14:36] iamolegga commented on #391
@AckerApple may I ask you why an extension of `PinoLogger` doesn't fit for you?

you can pass [transports](https://getpino.io/#/docs/transports) as a [`pinoHttp.stream`](https://github.com/pinojs/pino-http#pinohttpopts-stream) field of module settings. But I personally prefer to pipe stdout to the transport in that case

[2021-12-01 16:10] AckerApple commented on #391
@iamolegga im on v6 and seems that’s a v7 feature

I will look to check it out

[2021-12-01 17:42] antspk commented on #535
Started looking into this and I think it would make sense to make this feature optional with additional parameter:

[code]
Also if I understand this correctly, there there would not need to be a need to extend `TestCase` as the necessary configuration for the tests could be provided in a similar way to `useExisting`?

Then in the [LoggerModule](https://github.com/iamolegga/nestjs-pino/blob/fe7b119

[2021-12-01 19:41] antspk commented on #535
Though about it a little bit more, and I think providing configuration option like this via provider, would be against nestjs design. We want to configure module not a dependency so it the configuration options should come from a top level argument in a module.

Anyway I guess it just means that `LoggerModuleAsyncParams` will need slight modification as well.

[2021-12-01 19:42] iamolegga commented on #535
Sorry, I didn't get it. Why `{provide: APP_INTERCEPTOR, useClass: LoggerErrorInterceptor}` can not be exported from the module along with other providers for async configuration? Have you checked it yet? If so it sounds like a limitation that should be fixed in the framework 😀 But in that case let's just ship this interceptor. When there won't be any limitation for `useInterceptor` field in the co

[2021-12-01 19:45] iamolegga commented on #535
Let's keep sync and async params the same. If `useInterceptor` is not possible for both of them, then let's just export it from the package and that's it

[2021-12-02 11:57] aikin-vip opened #697 "[QUESTION] can support nestjs graphql?"
in nestjs graphql  server , logger info message is ok,  but did't hava req,res message?
Is it what I missed?

[2021-12-02 14:21] iamolegga commented on #697
Should work the same way for gql too, if it's not you can open a bug issue.

Please next time fill the template instead of deleting it

[2021-12-03 07:55] aikin-vip opened #698 "[BUG] nestjs graphql use fastify and autologging feature did't work"
[ ✅  ] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[ ✅  ] I've read [the docs of pino](https://getpino.io/#/)

[ ✅  ] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**

**What is the expected behavior?**

**Please provide minimal example repo. Without it t

[2021-12-03 08:01] #698 closed

[2021-12-03 08:35] iamolegga commented on #698
I can see auto logs in both of them

[2021-12-08 15:51] nitsanbs opened #707 "[BUG] error in initializing pino - has no exported member 'BaseLogger'"
[X] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[X] I've read [the docs of pino](https://getpino.io/#/)

[X] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
I followed the guide and added imported `LoggerModule.forRoot(...)` in the root module.
Even with

[2021-12-08 17:34] micalevisk commented on #707
You can add `"skipLibCheck": true` under `"compilerOptions"` of your `tsconfig.json`.

But also

![image](https://user-images.githubusercontent.com/13461315/145255791-5a235d40-e700-49f8-8ba8-af66a8f76e74.png)

so you must upgrade `@nestjs/*` packages to ^8.0.0 or `npm install nestjs-pino@^1`

[2021-12-08 19:31] iamolegga commented on #707
thanks @micalevisk

also:

<img width="843" alt="image" src="https://user-images.githubusercontent.com/5501657/145271721-7d0d9852-61f0-4af5-bd62-3cc95f12355c.png">

types of pino/pino-http moved from separate package to main lib, but there were breaking changes. I hope will be fixed soon

[2021-12-08 19:31] #707 closed

[2021-12-14 12:42] iamolegga commented on #680
finally, all the types are fixed in v2.4.0. Big thanks to @jarcodallo . Unpinning this issue

[2021-12-14 13:01] FredericEspiau commented on #680
Thanks for the awesome work

[2021-12-14 19:56] iamolegga commented on #535
@antspk hi, will you be able to open PR? Or should I just take your fix and finish all the rest?

[2021-12-16 09:54] antspk commented on #535
Sorry I've been really busy with other stuff. I've made a PR: https://github.com/iamolegga/nestjs-pino/pull/722, but it needs some fixing, as the interceptor doesn't seem to work with fastify adapter. Maybe you could look into it?

[2021-12-16 10:37] iamolegga commented on #535
@antspk no problem. Thanks for investing your time in this

will do in a next couple of days

[2021-12-17 03:39] adworacz commented on #546
I just encountered this bug myself, thanks for pinning this issue!

Looks like it's still not fixed upstream.

[2021-12-20 16:03] tairosonloa opened #731 "[BUG] TypeError: (0 , pino_http_1.pinoHttp) is not a function"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
After upgrading to version 2.4.0, I get the following error when starting a nestjs project that w

[2021-12-20 16:42] mittche commented on #546
Hey, you! How to do that https://github.com/nestjs/nest/issues/8809#issuecomment-997980588

Who undrestand how to reproduce that problem without without any third-party libraries?

[2021-12-20 16:51] micalevisk commented on #731
I'm using 2.4.0 with nestjs 8.2.4.

Can you share your tsconfig and how you're importing `nestjs-pino`?

[2021-12-20 17:12] #731 closed

[2021-12-20 18:46] Loubis commented on #731
Had the same error today on Docker with node:14.16.0.

I solved it by updating the version of `"nestjs-pino": "^2.2.0", -> "^2.4.0"` and `"pino-http": "^5.8.0", -> "^6.5.0"` in the package.json.

[2021-12-20 18:56] iamolegga commented on #731
`npm ci` + `package-lock.json` = no surprises with minor/patch updates

[2021-12-21 05:48] mittche commented on #546
@jmcdo29 thanks, but for that I needed to get a ban.

Acești bărbați și femei pot atunci când doresc să facă ceva.

[2021-12-21 05:48] mittche commented on #546
@jmcdo29 thanks, but for that I needed to get a ban.

These mens and womens can when want to do something.

[2021-12-21 21:54] Lucky38i opened #737 "[QUESTION] How to properly use transport"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

So from the looks of it, multiple targets within a transport is the ideal way to get your logged

[2021-12-22 00:33] adworacz commented on #546
Based on @jmcdo29's investigation in [this issue](https://github.com/nestjs/nest/issues/8837), it appears that the root cause may be because of how the FastifyRequest wraps the native Node IncomingRequest object.

In order to access attach properties properly to request for Fastify, they should be retrieved from `request.raw.foo` instead of `request.foo`.

@iamolegga Does this make sense to you? P

[2021-12-22 00:39] jmcdo29 commented on #546
Another option, just as an FYI, would be to use an `onRequest` hook for Fastify, though f I recall the `onRequest` hook doesn't have support for path mapping. I've done this in [nest-cookies](https://github.com/jmcdo29/nest-cookies/blob/main/src/cookie.module.ts#L13) as a way to manage cookies before Nest added support for `@Res({ passthrough: true })`

[2021-12-22 07:19] B5nan commented on #546
https://github.com/fastify/fastify/issues/3568

[2021-12-22 08:31] iamolegga commented on #546
Thank you for the investigation. So, it looks like this is a bug in this library, not the framework. I'm a bit busy now (will have time next week) but if someone knows what to do, please open PR (with correct tests), I'll check it asap.

[2021-12-22 08:39] iamolegga commented on #737
I'm not really sure, but maybe there should be a leading slash in the `destination` property? you cant try to make this work with raw express/fastify server and then copy config to nest. I'm sorry, I can not help, you can try to read the docs on certain transport or ask this question there. I've had experience only using transports as a separate process with piping stdout of main process to transp

[2021-12-22 08:39] #737 closed

[2021-12-22 08:41] iamolegga commented on #737
Maybe this lib could help you somehow https://github.com/pinojs/pino-multi-stream

[2021-12-22 08:50] ducva commented on #737
it seems related to this one: https://github.com/pinojs/pino/issues/1278
I tried to downgrade to version 2.3.1 which used older version of `pino` and it works.

[2021-12-22 14:13] iamolegga commented on #546
FYI https://github.com/fastify/middie/issues/124

[2021-12-22 20:07] itheodoro commented on #546
FYI https://github.com/fastify/fastify/pull/3571

[2021-12-23 11:59] kevit-piyush-kacha commented on #546
FYI closed https://github.com/fastify/middie/issues/124

[2021-12-23 12:44] iamolegga commented on #546
Thanks, but I think it's enough of FYI's here, it won't help, only spam notifications, I'm already subscribed to all the related issues and watching the situation.

It looks like we only need to change the `storage.run` with `storage.enterWith` in the code. But that thing should be tested correctly, as current tests pass for fastify, so the main challenge here is to write correct tests for this fi

[2021-12-24 13:35] Lucky38i commented on #737
It looks like it's fixed in `pino` is it possible to create a PR to update the version of pino used? @iamolegga

[2021-12-24 14:48] iamolegga commented on #737
@Lucky38i This lib doesn't have deps, only [peer deps](https://github.com/iamolegga/nestjs-pino/blob/master/package.json#L88-L90). You can update `pino-http` on your own with proper `pino` version

[2021-12-24 23:50] Lucky38i commented on #737
Thanks, appreciate the quick replies happy holidays

[2021-12-27 16:37] itheodoro commented on #546
If I get it right, [Fastify v3.25.2](https://github.com/fastify/fastify/releases/tag/v3.25.2) already solves the issue. Since we are using Fastify via [platform-fastify](https://github.com/nestjs/nest/tree/master/packages/platform-fastify), a new version of the package with updated Fastify version (>= v3.25.2) must solve the problem without the need of implementations here in nestjs-pino.

[2021-12-28 06:32] riteshkhatri opened #744 "[Daily log rotation]"
[ ] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[ ] I've read [the docs of pino](https://getpino.io/#/)

[ ] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Is there a way to make Synchronous configuration With Log rotation on daily basis just like [pino] (https://g

[2021-12-28 08:57] iamolegga commented on #744
Didn't get the question. If pino supports log rotation via config, just pass it via config of current module. If you're going to do log rotation as a separate process, then there are no matter of it's nestjs server or any other. Closing, the question is not related to this lib

[2021-12-28 08:57] #744 closed

[2021-12-28 16:40] Gambitier opened #745 "[QUESTION] (node:23332) [PINODEP008] PinoWarning: prettyPrint is deprecated"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

I configured nestjs-pino with following options

![image](https://user-images.githubusercontent.c

[2021-12-28 18:09] micalevisk commented on #745
what's wrong on using the new transports API of Pino v7?

https://github.com/iamolegga/nestjs-pino#synchronous-configuration

otherwise you'll need to downgrade `nestjs-pino` to 2.3.1, I guess

[2021-12-28 18:27] #745 closed

[2022-01-02 23:22] tuliomir opened #748 "Multi-stream with stdout and datadog"
[X] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[X] I've read [the docs of pino](https://getpino.io/#/)

[X] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
I'm trying to implement a setup where my NestJS application logs all the http requests on the std-

[2022-01-03 13:26] iamolegga commented on #748
This question is not about the current module but about pino configuration. This module just passes all the configuration to the underlying `pino-http`, so I'm closing this issue. I suggest to try implement this logic with `http-pino` first and ask this question in appropriate module

[2022-01-03 13:26] #748 closed

[2022-01-04 07:22] yitzchak-ben-ezra-ecoplant opened #755 "[BUG] Scope.TRANSIENT not working when importing Pino in another module (could be nestjs bug)"
[v] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[v] I've read [the docs of pino](https://getpino.io/#/)

[v] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
Pino Logger isn't injected as TRANSIENT when wrapped in another TRANSIENT service and imported fr

[2022-01-04 08:43] yitzchak-ben-ezra-ecoplant commented on #755
I've also created a bug in nestjs repo and they closed it wihtout even checking..
is this repo also belongs to nestjs? I think the issue is not with pino.
the nestjs bug: https://github.com/nestjs/nest/issues/8872

[2022-01-04 18:26] #755 closed

[2022-01-04 20:42] yitzchak-ben-ezra-ecoplant commented on #755
don't know what's wrong with the example - only 1 module definition + 1 logger without special code + 1 small service that just prints to console.

anyway - I've found a workaround which I can't explain.
in my module - add `PinoLogger` in `providers` list (except for importing it in `imports`)

final module looks like this:
[code]

[2022-01-06 11:09] Code-Case opened #759 "HowTo setup options for nestjs-pino"
Hi,

where can I find an example for setup some options for the nestjs-pino logger?
I need for example another string for the messageKey.
Maybe Im blind but I cant find any examples.

Thank you and best regards

[2022-01-06 19:37] iamolegga commented on #759
https://github.com/iamolegga/nestjs-pino#configuration

[2022-01-06 19:37] #759 closed

[2022-01-12 05:01] gwajanara commented on #535
@antspk @iamolegga
In case fastify, try response.raw.err = err

const response = ctx.getResponse<FastifyReply>();
response.err = err // X
response.raw.err = err // O

[2022-01-15 11:44] Code-Case commented on #759
An example would be nicer, because there is no example for changing any options or the messageID key

[2022-01-15 17:28] iamolegga commented on #759
@Code-Case are you kidding?

- https://github.com/iamolegga/nestjs-pino/blob/master/example/app.module.ts
- https://github.com/iamolegga/nestjs-pino#faq

Also, the issue has a template (that you've deleted for some reason) and there is a checkbox that you've read the docs before opening a new issue

[2022-01-15 20:32] micalevisk commented on #759
[code]

most of the times you just need to play with the type defs @Code-Case

[2022-01-16 14:21] iamolegga commented on #535
fixed in `2.5.0` with [LoggerErrorInterceptor](https://github.com/iamolegga/nestjs-pino#expose-stack-trace-and-error-class-in-err-property). Thanks to @antspk

[2022-01-16 14:21] #535 closed

[2022-01-20 19:03] itheodoro commented on #546
Closing this issue since [`@nestjs/platform-fastify@8.2.6`](https://github.com/nestjs/nest/tree/v8.2.6/packages/platform-fastify) fixes the wrong behavior by updating fastify version. Thanks all!

[2022-01-20 19:03] #546 closed

[2022-01-20 19:46] iamolegga commented on #546
Cool, @itheodoro have you tested this fix already?

[2022-01-20 23:41] itheodoro commented on #546
Yes, I've tested and it's working fine, @iamolegga :tada:

[2022-01-22 03:31] allenhartwig opened #788 "[QUESTION] Middleware binding on graphql requests?"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
I saw it mentioned in [this issue ](https://github.com/iamolegga/nestjs-pino/issues/697) that the

[2022-01-22 17:50] allenhartwig commented on #788
To work around this I have created the following:

`logger.middleware.ts`
[code]

Then used in `main.ts` as `app.use(loggerMiddleware(myPinoHttpConfig)`.

This is working, however, the middleware is now double bound on http controller requests therefore creating duplicate log entries. It would be great if there was a way to disable the middleware registration and expose it instead to main.ts to be

[2022-01-22 18:12] allenhartwig commented on #788
Adding `exclude: ['/(.*)']` to the module config effectively disabled the middleware and the double logging, however, this feels very hacky. Looking forward to your suggestion on how to better implement nestjs-pino for use in a graphql environment.

[2022-01-22 19:16] iamolegga commented on #788
Just checked this on my current project. It works, there is request data in logs:

[code]

You can try to change the order of your modules. Logger module should stand before graphql module. Closing, but feel free to ask more questions if you have any

[2022-01-22 19:16] #788 closed

[2022-01-22 19:21] allenhartwig commented on #788
My logger module is imported before the graphql module.
[code]
Are you using @nestjs/graphql?

[2022-01-22 19:28] allenhartwig commented on #788
My comment about `MiddlewareConsumer` not being compatible was based on [this conversation ](https://github.com/nestjs/graphql/issues/923#issuecomment-637667657) and the behavior I observed.

[2022-01-22 19:32] allenhartwig commented on #788
For reference, this is the contents of `LoggerModule`:

[code]

and `GraphqlModule`

[code]

[2022-01-22 19:41] iamolegga commented on #788
yes

[code]

maybe as a first step just try to change the js sources in npm of pino-logger and graphql modules to check in which order they are applied. As your root wrapper modules import target modules it's simply could be disordered, as nestjs has no warranty on modules' middleware order. Or you can just try to move the logger's module as the first imported module without any wrappers 🤷‍♂️

[2022-01-22 19:46] allenhartwig commented on #788
Ok thanks for your help. If the `MiddlewareConsumer` _should_ work with @nestjs/graphql, that gives me something to work with.

[2022-01-24 10:17] thekip opened #789 "[FEATURE REQUEST] Catch initialization errors."
If error happend somewhere in modules initialization before `.useLogger()` call, error will be reported by standart logger.

[code]

There are many reasons why application might not be created, for example not provided module in DI or circular dependency.

The easiest way to simulate this is write this in App's providers:

[code]

**Describe the solution you'd like**
I would like to catch all erro

[2022-01-24 12:42] iamolegga commented on #789
This is a limitation of the framework, and that's not possible to build the logger properly without DI, as it will not have access to the config. From my point of view, this is a good tradeoff (fallback to standard logger) between complexity and dx. Closing, as with the current API it's not possible to build properly, and on the next step, someone will open the new issue about misconfigured _simpl

[2022-01-24 12:42] #789 closed

[2022-02-01 04:56] deeeed opened #800 "[BUG] getReqId or any function within pinoHttp.options error "could not be cloned""
**What is the current behavior?**
throws an error when trying to implement custon pino http options.

**What is the expected behavior?**
works as per the documentation :)

**Please provide minimal example repo. Without it this issue will be closed**
[code]
The error is:
[code]

Not sure what I am missing?

[2022-02-01 06:58] iamolegga commented on #800
As there is only a sample code of a single file it's impossible to deep dive into this, there could be literally anything that can lead to a bug. Could you provide a **minimal** example repo for this?

[2022-02-02 23:15] Shpadoinkle opened #802 "[QUESTION] Process Id is always 1?"
[ * ] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[ * ] I've read [the docs of pino](https://getpino.io/#/)

[ * ] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
We were looking at the pid within the output examples in the docs and noticed the `pid` alwa

[2022-02-02 23:24] micalevisk commented on #802
I guess this is due to which user is running your nodejs app.

btw this is related to [Pino](https://github.com/pinojs/pino), not with this repo.

[2022-02-02 23:34] Shpadoinkle commented on #802
mmm, yea ok.  I think i see what is going on.  Thanks

[2022-02-02 23:35] #802 closed

[2022-02-03 17:34] mentos1386 opened #803 "[QUESTION] How to use `logger.assign` when not inside HTTP context"
- [x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)
- [x] I've read [the docs of pino](https://getpino.io/#/)
- [x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

I'm trying to use `logger.assign` outside of HTTP context. Specifically, inside [sqs consumer

[2022-02-03 22:55] atomicleopard opened #804 "[BUG] Missing nestjs/common peer dependency"
[ ✅] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[ ✅] I've read [the docs of pino](https://getpino.io/#/)

[ ✅] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**

The library has a peer dependency on `pino-http` but not on `@nestjs/common`. This caused an

[2022-02-04 00:44] yadimon commented on #331
used https://github.com/pinojs/pino-http/blob/be517a6afdc5c9fc6d770bc9ad0282590fcd5439/index.d.ts#L37
like this:

[code]

[2022-02-04 08:37] iamolegga commented on #804
feel free to open PR for this

[2022-02-05 23:10] iamolegga commented on #803
Desired behavior is not supported at the moment. You can try any hacks (as presented above) to make it work but on your own risk. This is not tested and not supported.

For this feature we need something similar to `pino-http`-like settings with a lot of settings beside `pino`-related ones. So this is huge feature and it need a lot of time for implementation. Unfortunately I'm not able to invest i

[2022-02-05 23:15] #800 closed

[2022-02-11 02:22] adworacz commented on #546
For anyone else who stumbles across this issue, I was **still** having issues with logs not having request context information, as shown in the OP.

I finally tracked it down to having `fastify` in my `devDependencies`. If I removed that AND deleted my `node_modules` folder AND deleted my `package-lock.json` folder (forcing it to be completely rebuild) THEN I started receiving request context info

[2022-02-14 06:56] xiaoyu-tamu opened #817 "[FEATURE REQUEST] Support Class providers `useClass` in LoggerModule.forRootAsync"
**Is your feature request related to a problem? Please describe.**

I would like to abstract LoggerConfigService class, but `nestjs-pino` only support useFactory.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2022-02-14 08:35] iamolegga commented on #817
Config object for this lib is POJO, not class instance. In case you need to use class to build config, just inject your class instance and pass it in useFactory function:

[code]

Sorry, but I don't want to add unnecessary features, that can be done with the current API by adding one simple extra line in your code.

In case you _really_ need this feature, you can always fork this repo. Closing

[2022-02-14 08:35] #817 closed

[2022-02-14 17:03] zaro opened #818 "[BUG] DataCloneError when messageFormat is functions"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**

Basically the same as https://github.com/iamolegga/nestjs-pino/issues/353. I have the following

[2022-02-17 14:26] icharge commented on #804
Please I have this problem

[2022-02-17 20:27] extg commented on #818
Easy way with warning

[code]

But it will be also better solution without warning [use piano transport as separate file](https://github.com/pinojs/pino-pretty#handling-non-serializable-options):

[code]

and

[code]

[2022-02-18 17:06] BkSouX opened #833 "[QUESTION] How to configure ECS logging format ?"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

Hi,

I can't find how to configure the ECS logging format here https://github.com/elastic/ecs-log

[2022-02-19 13:54] iamolegga commented on #833
<img width="562" alt="image" src="https://user-images.githubusercontent.com/5501657/154803665-99bb051f-7f59-4259-a402-fb7fdca25c58.png">

<img width="345" alt="image" src="https://user-images.githubusercontent.com/5501657/154803719-0e64bea2-10d9-4bd9-972f-09fe55934350.png">

[2022-02-19 13:54] #833 closed

[2022-03-09 09:36] fasenderos opened #856 "[QUESTION] How to properly set ecs destination stream ?"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
Hi, I'm using `nestjs` with `fastify` and I'm having trouble on configuring the `elasticsearch` tr

[2022-03-12 17:06] fasenderos commented on #856
Never mind, my configuration it's ok. Was a problem with security group on aws. Thank you anyway.

[2022-03-12 17:06] #856 closed

[2022-03-14 15:31] remija opened #860 "[BUG] NestJS with Fastify : response headers are empty"
[X] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[X] I've read [the docs of pino](https://getpino.io/#/)

[X] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**

HTTP log messages return an empty Response Headers object when using the library as part of a Ne

[2022-03-16 13:09] do-ald533 commented on #818
i have the same error, although, in my project i'm using typescript, is there a way to configure pino-pretty with typescript in nestjs?

[2022-03-18 23:59] micalevisk opened #870 "Out of date example on README for `pinoHttp` option"
https://github.com/iamolegga/nestjs-pino/blob/18c701066d8ff38af5511f3665b9b3de511891f9/README.md#L229-L241

![image](https://user-images.githubusercontent.com/13461315/159097960-c787d916-24ee-42a3-a49d-64aba73d9241.png)

What does works:

[code]

but I believe the semantics here isn't the same

[2022-03-23 14:32] bung87 commented on #870
useLevelLabels does not work for me ,  use code @[micalevisk](https://github.com/micalevisk) provided will initialize another logger instead of default logger, in my case I only specified a file stream it results to stdout and file.

[2022-03-29 09:59] amit12cool opened #895 "[BUG] Request received log not logged"
I have been using nestjs pino in my application and I the log for request received is not printed automatically when the request is received on a route.I have even implemented the `customReceivedMessage` function but the log is still not getting printed. Anything Im missing?

[2022-03-29 10:38] iamolegga commented on #895
[closing](https://github.com/iamolegga/nestjs-pino/blob/master/.github/ISSUE_TEMPLATE/bug_report.md?plain=1#L10)

[2022-03-29 10:38] #895 closed

[2022-03-29 12:01] amit12cool commented on #895
@iamolegga Any reason for closing this issue?

[2022-03-29 12:03] amit12cool opened #896 "[QUESTION] Request received log not logged"
[ -] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[ -] I've read [the docs of pino](https://getpino.io/#/)

[- ] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

I have been using nestjs pino in my application and I the log for request received is not prin

[2022-03-29 17:26] iamolegga commented on #895
there is a link in <closing>. Don't delete the template for bug report, it's impossible to check such bug description

[2022-03-29 18:25] iamolegga commented on #896
Sorry, I didn't get the question. Do you need automatic log when request **received**, not **completed**, because this is not how it works by default. You can check logs in example

[2022-03-30 04:37] amit12cool commented on #896
Yes I need automatic log on request received. And this function `customReceivedMessage` is not getting called too.

[2022-03-30 06:09] iamolegga commented on #896
please open minimal represented example repo, also check if same config works with `pino-http`

[2022-03-30 10:24] #804 closed

[2022-03-30 10:34] iamolegga commented on #804
published in v2.5.2

[2022-03-30 22:31] antonbarada commented on #860
+1

[2022-03-31 06:58] iamolegga commented on #896
this lib is only a wrapper for `pino-http`. see the docs of it please

[2022-04-01 11:33] iamolegga commented on #896
Closing this issue as it's a question about `pino-http` configuration. If desired behavior works with `pino-http` but not with `nestjs-pino` feel free to open a new bug report

[2022-04-01 11:33] #896 closed

[2022-04-13 09:15] LeoMartinDev commented on #870
Looks like new syntax is:

[code]

[2022-04-19 17:21] asantos00 opened #916 "Is it possible to provide pino options directly to nestjs-pino?"
Hi, first let me thank you for what you're doing by providing a nestjs wrapper for such an exciting logging library.

My question is: is it possible to send to the nest module creator, the options it will then send to pino?

This would enable us to not only customise the logger (by changing things like messageKey, or calling functions like redact). I've been looking all over the documentation and

[2022-04-19 17:31] #916 closed

[2022-04-22 02:32] gharena commented on #200
Any update on this?

[2022-04-28 19:22] itizarsa opened #926 "[BUG] pino http option customProps is not available"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behaviour?**
customProps property is not available in pinoHttp options

**What is the expected behaviour?**
c

[2022-04-28 20:11] itizarsa commented on #926
I found it can be achieved using `reqCustomProps`. It would be better if the same has been added to the docs.

Thanks for the wonderful work!

[2022-05-01 19:49] micalevisk opened #929 "[FEATURE REQUEST] Support latest `pino-http` (v7)"
Currently we have this semver range:

https://github.com/iamolegga/nestjs-pino/blob/3b39d171fa25853d023145341b7bbafbb30f8afd/package.json#L89-L90

I'm not sure if you need to change something in the code to support `pino-http@7`

The release notes: https://github.com/pinojs/pino-http/releases/tag/v7.0.0

[2022-05-02 01:46] shauravg opened #930 "[FEATURE REQUEST] Support loki"
**Is your feature request related to a problem? Please describe.**
I want to leverage Grafana cloud for my nestjs services and loki is a key supported transport in pino.

**Describe the solution you'd like**
Would like to use nestjs-pino with the option of choosing the transport such as (https://github.com/pinojs/pino/blob/master/docs/transports.md#pino-loki).

**Describe alternatives you've consi

[2022-05-03 02:14] shauravg commented on #930
Sorry I think I submitted this a bit prematurely. pino-http already has an option to specify pino-loki as the transport. No work needed here.

[2022-05-03 02:14] #930 closed

[2022-05-03 09:53] iamolegga commented on #788
@julestruong if you need such info you have to use [plugins](https://docs.nestjs.com/graphql/plugins). Here is the reference from my current project:

[code]

also I recommend add to config:

[code]

[2022-05-03 10:02] julestruong commented on #788
Thx for the implementation, can you tell me more about why you recommend to ignore autologging for graphql ?

[2022-05-03 10:18] iamolegga commented on #788
@julestruong current plugin will work pretty the same as autologging, but with your custom data. It's just to prevent log duplication, but it's up to you

[2022-05-03 12:20] #926 closed

[2022-05-03 19:27] kerituni12 opened #936 "[QUESTION] how to use logger.assign with graphql"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

How i can use logger.assign with nestjs graphql

[code]
I get the error `unable to assign extra f

[2022-05-03 19:34] #936 closed

[2022-05-03 22:21] kerituni12 commented on #936
I tried with https://github.com/iamolegga/nestjs-pino/issues/788#issuecomment-1019321440 but it doesn't work as expected

[2022-05-03 22:36] kerituni12 commented on #788
Can you add sample code with graphql, it took me a day to solve this problem, i tried some solutions above but its not working as expected.

I got error when trying to use logger.assign and logger middleware solution but req as res wasn't attached to result just `{"level":"info","time":1651615898827,"pid":48107,"hostname":"kin","context":"RoleResolver"}`

[2022-05-04 17:41] iamolegga commented on #936
There are not any tests for `assign` in gql context, should be checked separately. You can try to create a test for this if you want to. I'll get back to this when I'll have free time

[2022-05-04 17:41] iamolegga commented on #788
@kerituni12 answered in #936

[2022-05-05 05:03] hisabimbola commented on #929
It'll be good to have this released

[2022-05-16 19:24] micalevisk commented on #929
I _think_ we can use the latest already.

In my case, I've changed `customLogLevel` signature from this:

[code]

to this:

[code]

because now it receives the request object as the first parameter

[2022-05-17 09:51] micalevisk commented on #929
I believe you can support both. Then if someone report that it doesn't work with v6 anymore, you can release a new major

[2022-05-17 10:29] iamolegga commented on #929
ok, will do it this week

[2022-05-20 11:55] subashdbc commented on #744
@riteshkhatri
Have you found any solution for creating logs every day with nestjs-pino?

[2022-05-21 10:58] iamolegga commented on #929
published in `2.6.0`

[2022-05-21 10:58] #929 closed

[2022-05-22 10:05] itizarsa opened #954 "[BUG] 2.6.0 release should be a major release"
[ X ] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[ X ] I've read [the docs of pino](https://getpino.io/#/)

[ X ] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
2.6.0 upgrades to pino-http@7. Which has lots of breaking changes. Refer [here](https://git

[2022-05-22 18:31] iamolegga commented on #954
@itizarsa but it [keeps](https://github.com/iamolegga/nestjs-pino/blob/master/package.json#L91)  support of previous major version of pino-http. Nothing changed for the current library and in the library API. It's up to end user which pino-http version to install as it's peer dependency

[2022-05-22 18:41] #954 closed

[2022-05-27 15:02] okovpashko opened #961 "Arguments order of the logging methods"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

As described in the [NestJS docs](https://docs.nestjs.com/techniques/logger#custom-implementation

[2022-05-27 18:03] iamolegga commented on #961
this was in previous major version on nest if I'm not mistaken, but now there is nothing in nest docs about context as additional argument for logging method.

could you please provide example for both loggers with more detailed explanation?

[2022-06-01 19:11] Hudi89 opened #971 "[QUESTION]"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

I am working with decimal js and I want to log like this:
[code]
If I build up a default setting,

[2022-06-01 20:34] iamolegga commented on #971
I believe the most common use case is when object is passed as a record for several values, for example `{ foo: 'bar', baz: 'qux' }`. The problem is that you want to pass this object as some self-sufficient value, right? But it's impossible to determine which of these is desired. I think the most easier way is just pass already stringified value or pass an object with a single prop `{ decimal: dec

[2022-06-02 08:23] Hudi89 commented on #971
Yes I want to pass directly a Decimal object to the logger and as I can see the only obstacle is the merging the message with the `objArg`. Can you tell me what is the reason to merge the logging message into the `objArg` instead of using it similarly in every branch of the if statement?
First argument `objArg`, second the message, rest are the extra optional params.

How you do it:
https://github

[2022-06-02 10:26] iamolegga commented on #971
I cannot say now, I need to setup a project and check what output will be there. If this leads to the breaking change in logging result this should be a new major release, which I would like to avoid, because a lot of projects who already use it as is should change a lot of code, which is unwanted.

I'm closing this as I've provided two quick solutions: stringify object before passing to logger or

[2022-06-02 10:26] #971 closed

[2022-06-04 06:17] atassis opened #973 "This is not a platform agnostic logger"
[X] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[X] I've read [the docs of pino](https://getpino.io/#/)

[X] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
It uses the pino-http package
**What is the expected behavior?**
Pino-http is a package to serial

[2022-06-04 06:18] atassis commented on #973
Okay, thats a dup of #803

[2022-06-04 06:18] #973 closed

[2022-06-06 07:45] iamolegga commented on #973
@atassis platform here stands for `express` and `fastify` frameworks. If it doesn't fit your needs feel free to fork it or write your own from scratch.

[2022-06-06 08:56] atassis commented on #973
Have already got the point from issue above, thanks
Made my own thingy

[2022-06-07 03:20] rubiin commented on #788
@iamolegga an example will be very useful

[2022-06-07 06:30] iamolegga commented on #788
@rubiin sure. I think it's not so hard to add it based on the [comment above](https://github.com/iamolegga/nestjs-pino/issues/788#issuecomment-1115920939)

[2022-06-13 11:17] okovpashko commented on #961
@iamolegga sorry for the late response.

You're right.

By saying `context` I mean not the class name where the logging method was called but some additional logging data such as method arguments, computation result, etc. There's nothing about it in the Nest.js docs.

In Nest.js 8 the default logger logs each of the passed arguments in a separate log record in the order they were given to a loggin

[2022-06-13 11:33] #961 closed

[2022-06-16 22:45] JVMartin opened #993 "[QUESTION] How to use logger.assign with Bull queue processors?"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
Each of my Bull Job queue processors logs tons of logs, with no way for me to filter by logs from

[2022-06-16 23:31] JVMartin commented on #993
I have a (potentially very problematic / ugly) working implementation:
[code]

[2022-06-17 06:42] iamolegga commented on #993
duplicate of #803 that is even pinned in issues

[2022-06-17 06:42] #993 closed

[2022-06-23 16:29] rubiin opened #1002 "[QUESTION]: How to use the logger to log graphQL queries"
For rest apis, the logger seems to be working fine. However in graphql, i cannot seem to hook it so as to log the queries

[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3

[2022-06-23 18:49] iamolegga commented on #1002
1 read this https://docs.nestjs.com/graphql/plugins

2 read this https://www.apollographql.com/docs/apollo-server/integrations/plugins/

3 implement something like this, but with your desired details:

[code]

4 optionally disable default logging for graphql path in logger config to exclude duplicates:

[code]

Does it help?

[2022-06-23 19:28] lekhanhtoan37 commented on #870
New update for replacing log level value to level label. Example:

`{"level": 20} => {"level":"debug"}`

[code]

[2022-06-23 19:35] rubiin commented on #1002
![](https://i.imgur.com/BbQ5B7N.png)

I am getting logs lie this. Is this supposed to happen.

[2022-06-23 20:54] iamolegga commented on #1002
It's up to you what you want to log, just change what you pass in `requestDidStart` to `new Listener`. I believe this can be closed, for more details read the docs, please

[2022-06-23 20:54] #1002 closed

[2022-06-24 04:45] rubiin commented on #788
pinoHttpConfig can you share its value as well

[2022-06-28 01:18] chrismllr opened #1004 "[BUG] `pino` and `rxjs` should be peer dependencies of nestjs-pino"
[X] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[X] I've read [the docs of pino](https://getpino.io/#/)

[X] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
When using `pnpm`, installing using the `--prod` flag omits dependencies used within the code, na

[2022-06-28 07:21] iamolegga commented on #1004
Sorry, I'm not a user of pnpm. But rxjs is a dependency of nestjs, and pino-http is a **peer** dependency, that should be installed by end user, and it includes pino. This peer dependency allows control of it's versions by end user. Do you install both nestjs-pino and pino-http as [mentioned in the docs](https://github.com/iamolegga/nestjs-pino#install)?

[2022-06-29 15:41] chrismllr commented on #1004
I can't claim to say I understand pnpm's resolution patterns fully, but if I had to guess, the nested node_modules structure which pnpm uses places packages in the places a consumer expects them to be based on the package.json of that lib.

In practice, there are issues resolving any pkg which is imported and used directly by a project's codebase if it is not defined either as a peer dependency or

[2022-06-29 16:19] iamolegga commented on #1004
So, the solution is to add both `pino` and `rxjs` to peer deps, right? So, rxjs version in peer deps should be the same as used in nestjs's minimal supported version. And the same for pino, which is used by pino-http. I believe both of them should be set as a range, right? As this package depends on [@nestjs/common ^8.0.0](https://github.com/iamolegga/nestjs-pino/blob/master/package.json#L90) and

[2022-06-30 13:30] NoNameProvided opened #1008 "Add support for pino-http@8.x"
**Is your feature request related to a problem? Please describe.**
I would like to use this lib with the latest pino-http package.

**Describe the solution you'd like**
The `nestjs-pino` package supports pino-http@8.

**Additional context**
There seems to be no breaking change neither in pino@8 and pino-http@8 release.

[2022-06-30 13:57] iamolegga commented on #1008
there is an open pr for this #995 but test didn't pass. I haven't much time to fix that unfortunately. Also if there are not any breaking changes the peer deps versions should be set keeping previous version

[2022-06-30 14:03] NoNameProvided commented on #1008
I don't understand this bit. Currently `nestjs-pino` has "pino-http" defined as peer-dependency with "^6.4.0 || ^7.0.0". This means the newer NPM versions refuse to install `pino-http@8` because this package doesn't allow `8.x` (this is quite a recent change in NPM, I think it's only in the latest major version).

[2022-06-30 14:42] iamolegga commented on #1008
I mean keep previous versions and add the new one. ^6.4.0 || ^7.0.0 || ^8.0.0

[2022-07-06 12:34] schealex opened #1020 "[QUESTION] PinoLogger: unable to assign extra fields out of request scope // trying to assign fields from AuthGuard"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
Hello guys, we require to extend our logs with user data which get set to the REQ object by using

[2022-07-06 13:10] iamolegga commented on #1020
I believe this is a problem with middlewares order. Try to play with order of modules in `imports` of root module or other modules. Logger module should run before dependant modules. As nestjs has not guaranty of order of modules initialization you can open `node_modules/nestjs-pino` and add a breakpoint or log and check if lib's middleware runs before your middleware

[2022-07-06 13:21] schealex commented on #1020
maybe i've misread this error but doesn't that error say that the logger instance inside the middleware is not request scoped?
I've debugged into the middleware and the req.user object is there and filled. it's just not able to execute the `assign` method on the `this.logger` instance

[2022-07-06 13:31] iamolegga commented on #1020
which error?

you don't need any request scope, that's the main idea of usage of this library. please check the [tests](https://github.com/iamolegga/nestjs-pino/blob/master/__tests__/assign.spec.ts) for logger assign.

also check if lifecycle order is correct https://docs.nestjs.com/faq/request-lifecycle, so you need:

1. set req.user object and set this lib's middleware in any order
2. assign ext

[2022-07-06 13:52] schealex commented on #1020
i don't belive that is the problem here, check this out:

[code]

it still gives the "PinoLogger: unable to assign extra fields out of request scope" error even though it should only add a fixed value.

[2022-07-06 14:15] schealex opened #1021 "[BUG] PinoLogger: unable to assign extra fields out of request scope // when trying to assign from middleware"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**
When trying to use `logger.assign` you receive the error "PinoLogger: unable to assign extra fiel

[2022-07-06 14:15] schealex commented on #1020
i've opened a bug report so I'm closing this question

[2022-07-06 14:15] #1020 closed

[2022-07-08 07:54] iamolegga opened #1023 "[FEATURE REQUEST] Update to nest@9"
**Is your feature request related to a problem? Please describe.**
Update to nest@9

**Describe the solution you'd like**
https://docs.nestjs.com/migration-guide

**Describe alternatives you've considered**
-

**Additional context**
-

[2022-07-08 11:58] 0xslipk commented on #1008
I will fix the PR this weekend. Sorry I didn't have much time

[2022-07-12 05:39] schealex commented on #1021
@iamolegga sorry but do you have any idea what the cause of this could be? This is severly hindering our development right now :/ i've tried a couple workarounds but nothing seems to able to make this work the way we need it to

[2022-07-12 06:58] iamolegga commented on #1021
Sorry, don't have time to check this at the moment, maybe you can try to move this assigning from middleware to interceptor? Also, did you check that in example middlewares are in the right order and your middleware goes after lib's one? Can you try to create one more module with middleware consumer and add it as a dependency for AppModule instead of adding middleware directly in `AppModule`?

[2022-07-12 07:24] schealex commented on #1021
No worries that was already very helpful!

I've created two new branches on my test repo:

- moved the middleware to it's own module (same error): https://github.com/schealex/nestjs-pino-request-scope-example/tree/feature/move-middleware-to-own-module
- move the assign to a interceptor (which works!): https://github.com/schealex/nestjs-pino-request-scope-example/tree/feature/using-interceptor

hop

[2022-07-12 09:42] schealex opened #1028 "[QUESTION] How to use Logger in Submodule from library package?"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
In our use case we have multiple micoservices each of which has it's own client libary. We would l

[2022-07-12 12:52] schealex commented on #1028
I was afraid of that :D

so based on my last question and error report: https://github.com/iamolegga/nestjs-pino/issues/1021
i was going to add a interceptor to our authentification client but the authentification client needs to receive the same logger instance otherwise if you use the logger or even logger.assign it would not have an effect on logs that are done by the service itself.

Basically

[2022-07-12 13:04] iamolegga commented on #1028
Basically you need PinoLogger only in place when you assign properies. In all the other places just use standard logger from nest/common

[2022-07-14 06:59] #1028 closed

[2022-07-14 20:30] jhonatasobrinho opened #1031 "Default asynchronous logging configuration"
- [x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)
- [x] I've read [the docs of pino](https://getpino.io/#/)
- [x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
I looked into the [`nestjs-pino`](https://github.com/iamolegga/nestjs-pino#asynchronous-loggin

[2022-07-14 21:45] iamolegga commented on #1031
Not sure if this is related to this lib. nestjs-pino just pass pino-http config to pino-http library. That's it. All the settings are up to you.

[default](https://github.com/iamolegga/nestjs-pino#zero-configuration) is pino instance without config.

[2022-07-14 21:45] #1031 closed

[2022-07-15 13:41] CatsMiaow commented on #1021
You need to detach the `LoggerModule` from the `LoggerContextModule` from the [example where you get the same error](https://github.com/schealex/nestjs-pino-request-scope-example/blob/feature/move-middleware-to-own-module/src/logger-context.module.ts).
If placed in the same module, `LoggerContextMiddleware` will be applied first.

[code]

This solves the issue, but there is another problem.
The sa

[2022-07-16 05:39] CatsMiaow commented on #1021
thanks, changed `exclude` to `autoLogging.ignore` and removed the `storage` check.

[2022-07-16 20:03] iamolegga commented on #1021
So, this is not a bug, right? Does anyone would like to add a test for this?

[2022-07-16 20:03] #1021 closed

[2022-07-16 23:43] jbbeal commented on #803
I'm getting this same error message running unit tests. I'm using Nest's TestingModule like so:

[code]

and have `PinoLogger` injected into my service via the `@InjectPinoLogger` tag. When my code calls `logger.assign`, it fails with the "unable to assign extra fields out of request scope" message.  I'll read some of the other linked issues and see if I can figure out a workaround.

[2022-07-18 15:03] schealex opened #1035 "[QUESTION] assign on non http requests"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
We have microservices which handle both http and also rabbitmq request-context. Is there a way to

[2022-07-20 07:59] iamolegga commented on #1008
released in v3.0.0

[2022-07-20 07:59] #1008 closed

[2022-07-20 10:34] #1023 closed

[2022-07-20 10:39] iamolegga commented on #1023
released in 3.1.0

[2022-07-20 22:33] exsesx opened #1042 "Post-install small typo"
Hi!

I've noticed this small typo in the post-install script.

Now you know.

https://github.com/iamolegga/nestjs-pino/blob/246847e2bc77429a11a3ac38da6170c9ccc60c2c/postinstall.js#L8

I'm from Ukraine btw 🇺🇦

[2022-07-20 22:38] exsesx commented on #1042
I've attached PR to fix this.

[2022-07-21 08:21] #1042 closed

[2022-07-21 08:29] iamolegga commented on #1042
![image](https://user-images.githubusercontent.com/5501657/180167430-e639f64d-d5e9-4d0b-99af-dc88fcb0ebc4.png)

I must be sleepy when wrote this 🤦‍♂️🤦‍♂️🤦‍♂️

Дякую, слава Украïнi!

[2022-07-21 18:02] sethtomy opened #1044 "[QUESTION] Access to Request Context"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

Disclaimer: I found similar questions in #314 and #164 but ideally would like to get the data fro

[2022-07-21 20:12] iamolegga commented on #1044
I'm not sure that this is a good idea to use logger as a wrapper for passing metadata between app layers, but as a dirty hack yes it's possible.

You have to inject `PinoLogger`, it has [logger](https://github.com/iamolegga/nestjs-pino/blob/master/src/PinoLogger.ts#L137-L141) field of pino type. With pino instance you can get it's `.bindings()`, which has by default fields that you need: `{ req: {

[2022-07-21 20:12] #1044 closed

[2022-07-31 09:51] EcksDy opened #1057 "[QUESTION] Override error message"
[V] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[V] I've read [the docs of pino](https://getpino.io/#/)

[V] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**

Hello,

I'm implementing an adapter that will align our internal logging conventions to nestjs-pi

[2022-08-01 07:19] iamolegga commented on #1057
Didn't get what do you mean by "adapter".

First of all `this.logger.error('Custom error message with context', { error, someExtraContext });` does not match with the pino's message format: [`logger.error([mergingObject], [message], [...interpolationValues]`](https://getpino.io/#/docs/api?id=logging-method-parameters)

Second, it has [LoggerErrorInterceptor which logs stack trace](https://github.c

[2022-08-01 07:19] #1057 closed

[2022-08-03 17:09] iamolegga commented on #803
OK, in next month or two I'm going to investigate if it's possible to make such feature work with different microservices' transports including custom strategies.

For implementing this feature in a clear way we need [middlewares for microservices](https://github.com/nestjs/nest/issues/1627) to be landed in nest. Until then [this solution](https://github.com/nestjs/nest/issues/1627#issuecomment-95

[2022-08-15 03:50] Leizhenpeng opened #1084 "[BUG] Not Work IN Repl Mode In NESTJS 9~"
- [x]  I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

- [x] I've read [the docs of pino](https://getpino.io/#/)

- [x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**

<img width="951" alt="image" src="https://user-images.githubusercontent.com/50035229/1845

[2022-08-16 09:13] iamolegga commented on #1084
@Leizhenpeng is this a limitation of nestjs and this doesn't work with other loggers or this is related only to current lib?

[2022-08-22 21:48] klutzer opened #1096 "[QUESTION] Log context inside middlewares"
[ x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[ x] I've read [the docs of pino](https://getpino.io/#/)

[ x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

**Question**
Is there any way to get a working log context inside nestjs (or even raw express) middlewares?

[2022-08-22 22:21] iamolegga commented on #1096
must be middlewares order. debug or just add console.log() in your middleware and `bindLoggerMiddleware` in `node_modules/nestjs-pino/LoggerModule.js` to check the order. When you will see that your middleware goes before logger's middleware move `LoggerModule.forRoot()` to make it run before your own middleware

[2022-08-22 22:21] #1096 closed

[2022-08-23 17:43] klutzer commented on #1096
You were right @iamolegga, it was that. Thanks!

[2022-08-23 17:45] iamolegga commented on #1096
Yep, definitely this need to be added to FAQ

[2022-08-31 21:35] artursudnik opened #1111 "[FEATURE REQUEST] Correct stack trace of a guard error in request errored pino-http's log"
The problem I am facing is similar to those described in this [feature request](https://github.com/iamolegga/nestjs-pino/issues/535). Despite after using `LoggerErrorInterceptor` I am getting the correct stack trace of errors thrown from controllers or services when an error is thrown from a guard, it behaves like `LoggerErrorInterceptor` was not used.

**Describe the solution you'd like**
I am no

[2022-09-01 07:20] iamolegga commented on #1111
can you provide minimal example repo with logs?

[2022-09-01 07:40] artursudnik commented on #1111
@iamolegga sure, I'll isolate this

[2022-09-03 19:50] micalevisk commented on #1084
@Leizhenpeng this is just how the nestjs REPL behaves and, therefore, a limitation of NestJS REPL.

![image](https://user-images.githubusercontent.com/13461315/188285780-84deaca5-ddc3-44aa-9851-88b0fb2c234d.png)

see that there's no chance to replace the logger as the `app` created by `repl()` (from `@nestjs/core`) doesn't expose it

Also, in your code below there's no link between the `app` and `

[2022-09-03 20:09] #1084 closed

[2022-09-05 22:10] artursudnik commented on #1111
@iamolegga
I apologize for the delay.
Here is this problem reproduced: https://github.com/artursudnik/nestjs-pino-issue.

[2022-09-17 22:35] ajfranzoia commented on #748
@iamolegga you point towards the `pino-http` direction, while the creators of that package say that this is internally supported pino now, https://github.com/pinojs/pino-http/issues/245#event-7407765140. Can we have any clear answer on this? Thanks

[2022-09-22 10:25] gitSambhal opened #1134 "How can I add Datadog to Pino?"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [question about nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues?q=label%3Aquestion)

How can I add Datadog to nest-js pino?

I tried using [pino-datadog-transport](https://www.npmjs.com/package/pi

[2022-09-22 10:49] iamolegga commented on #1134
![image](https://user-images.githubusercontent.com/5501657/191727761-b9a08981-bde2-40e8-b274-c927acecbd7d.png)

https://getpino.io/#/docs/transports?id=pino-v7-compatible

[2022-09-22 10:49] #1134 closed

[2022-09-22 11:57] gitSambhal commented on #1134
@iamolegga I am using the configuration as given in your suggested link but I am not able to make it work. Is there any example of using datadog with nestjs-pino? I am not sure where is the problem, is it in my configuration?

[2022-09-22 12:40] iamolegga commented on #1134
1. example from [pino docs](https://getpino.io/#/docs/transports?id=pino-datadog-transport):
[code]

2. [pino-http docs](https://github.com/pinojs/pino-http#pinohttpopts-stream) first option `logger`

[code]

[2022-09-22 14:35] gitSambhal commented on #1134
Thanks @iamolegga, Tried it as well but didn't worked. There may be some issue with pino-datadog-transport

[2022-09-23 10:24] gitSambhal commented on #1134
@iamolegga I did exactly same configuration with nestjs and without nestjs, it is working without nestjs but not working when doing inside nestjs. Any idea?

[2022-09-27 04:42] gitSambhal commented on #1134
@iamolegga I was able to make it work but there is one issue that the hostname and service name are not showing in Datadog.
<img width="478" alt="Screenshot 2022-09-27 at 9 58 35 AM" src="https://user-images.githubusercontent.com/15196655/192433594-1e9a614c-9b12-4dc8-80d9-f8a2ffdfa1c4.png">
When I used the Winston nestjs package then the service name was showing.

[2022-09-27 13:18] YFLooi commented on #731
Thanks @Loubis! `"pino-http": "^6.5.0"`  works just fine with `"nestjs-pino": "^2.2.0"` as well. pino-http was missing the required Type.

[2022-09-27 13:53] gitSambhal commented on #1134
Got it working.  It was configuration error in `[pino-datadog-transport](https://github.com/theogravity/pino-datadog-transport)`.

[code]

[2022-09-28 10:07] ajubin opened #1147 "[BUG] Memory leak during tests when passing logger in config"
- [x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)
- [x] I've read [the docs of pino](https://getpino.io/#/)
- [x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**

I've got some E2E tests on my app, and recently added Pino. When my tests were run, it cause

[2022-09-28 16:30] alexedwardjones opened #1148 "[BUG] `pino` and `rxjs` should be peer dependencies of nestjs-pino"
[x] I've read [the docs of nestjs-pino](https://github.com/iamolegga/nestjs-pino/blob/master/README.md)

[x] I've read [the docs of pino](https://getpino.io/#/)

[x] I couldn't find the same [open issue of nestjs-pino](https://github.com/iamolegga/nestjs-pino/issues)

**What is the current behavior?**

I'm using yarn pnp which is pretty strict when it comes to libraries and their dependencies. I'm

[2022-09-29 09:17] gitSambhal commented on #462
@iamolegga Any updates for microservice? I am getting `PinoLogger: unable to assign extra fields out of request scope`  with Pubsub.

[2022-09-29 09:27] iamolegga commented on #462
@gitSambhal there is single open pinned issue already, you can subscribe and wait or fork and implement

[2022-09-30 19:51] prufrock123 commented on #464
@iamolegga - I might suggest reopening this? I am using the customLogLevel method from the README and all the levels work except for trace (which behaves just like 'silent').

To reproduce, just run the code used in the README but use `trace` instead of `info`:
https://github.com/pinojs/pino-http#logger-options

[2022-09-30 20:16] iamolegga commented on #464
@prufrock123 please open a new issue with the minimal example repo

[2022-10-11 07:11] amit12cool commented on #896
Is it supported on the first go to print the automatic log on request received?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: iamolegga ***@***.***>
Sent: Wednesday, March 30, 2022 11:40:07 AM
To: iamolegga/nestjs-pino ***@***.***>
Cc: Amit Dhawan ***@***.***>; Author ***@***.***>
Subject: Re: [iamolegga/nestjs-pino] [QUESTION] Request received log not log

[2022-10-12 23:00] jamper91a commented on #608
I have the same problem. I need the user role and id to be shown on the logs, but they do not show on complete request, so what I did was to modify customProps from pino htpp to add those values. In my case those values are from the jwt token, here is my configuration

`
LoggerModule.forRootAsync({
      imports: [
        JwtModule.registerAsync({
          imports: [ConfigModule],
          useF

[2022-10-20 21:12] mattvgm commented on #1111
I can confirm this happens to me either

[2022-10-21 00:06] artursudnik commented on #1111
No, unfortunately, I have not.

[2022-10-21 10:37] iamolegga commented on #1111
Does it work properly with the original built-in logger?

[2022-10-21 12:21] artursudnik commented on #1111
@iamolegga I need to double-check this. I guess yes though.

[2022-10-25 10:43] pengxingwang opened #1190 "how to use pino-socket width nestjs-pino"
how to use pino-socket width nestjs-pino?

[2022-10-25 11:24] iamolegga commented on #1190
the same way you do with pino-http

[2022-10-25 11:24] #1190 closed

[2022-10-26 00:04] KieronWiltshire opened #1191 "[FEATURE REQUEST] Why is there no support for transports?"
**Is your feature request related to a problem? Please describe.**
I've created a pino transport for Logtail. I was hoping to use this package to integrate my NestJS logging to Logtail. The issue I have here though is that it seems this package is heavily involved into http context aware logging only. What about logging in other

**Describe the solution you'd like**
Allow the ability to pass pino

[2022-10-26 06:40] GeekRishabh opened #1192 "Test case failing"
**What is the current behavior?**

While running `npm run test`
<img width="877" alt="Screenshot 2022-10-26 at 12 08 39 PM" src="https://user-images.githubusercontent.com/23093075/197952831-ab983b2a-36d2-48a3-93bd-8ce3d02fabc3.png">

**What is the expected behavior?**

Should run the test cases

**Please provide minimal example repo, not code snippet. Without example repo this issue will be closed

[2022-10-26 07:23] iamolegga commented on #1192
closing, no example repo

[2022-10-26 07:23] #1192 closed

[2022-10-26 07:25] iamolegga commented on #1191
there is pinned issue for this feature already

[2022-10-26 07:25] #1191 closed

[2022-10-26 14:00] KieronWiltshire commented on #1191
@iamolegga My apologies. I need this for a project I'm working on, if you can detail a design to take, I can work on a PR if this suits you.

[2022-10-26 19:40] KieronWiltshire commented on #803
@iamolegga consider setting up a bounty program. I'd be willing to contribute funding for you to do this if you'd prefer to handle it yourself.

[2022-10-27 10:56] iamolegga commented on #1191
No worries. Let's keep the discussion in #803

will answer there

[2022-10-27 11:02] iamolegga commented on #803
@KieronWiltshire answering your [question from different issue](https://github.com/iamolegga/nestjs-pino/issues/1191#issuecomment-1292098953)

Some thought on design for this feature:

I believe the configuration for microservices should be as close as possible to the configuration of `pino-http`.

Existing `pino-http` parameters could be:
- reused (e.g. `autoLogging`, `stream`, `logger` etc)
- sk

[2022-10-27 11:06] KieronWiltshire commented on #803
@iamolegga to be honest... I'm not sure why this approach was even taken. Surely it would've just made sense to pass the pinojs parameters through the module and allow fully interoperability with the official pinojs package. Maybe some of your thoughts on this initial implementation would help me understand more here.

[2022-10-27 11:24] iamolegga commented on #803
I'm ok to handle it by myself, but this needs _time_ to make a good API for end-users and good internal design.

So far due to personal reasons I'm not able to invest such time in this feature not in working hours, I hope for your understanding. But to work on this in working hours this needs to be prioritized on my current project where we are using this library, and I believe won't happen in the

[2022-10-27 11:27] KieronWiltshire commented on #803
@iamolegga sorry, didn't mean to insult. I'm glad you've created this project, just looking to improve on what you've already built.

Basically... this package assumes the logging through HTTP or now at this point, microservice, but what about during queue workers etc... what I'm saying is, wouldn't it make more sense to just support pinojs as the module itself, or even better allow the passing of

[2022-10-27 12:20] mentos1386 commented on #803
@KieronWiltshire please keep the conversation here, or provide a summary in case conversation would take place somewhere else. I would like to know where this is going as well :)

[2022-10-27 14:53] iamolegga commented on #803
no worries 🙂

Sure, queue workers you mean `bull`, right? Yes, basically we have to create some generic factory that will call parameters methods with the provided argument type. It could be bull's job, microservice's messages and events or any other context.

could you please describe more on this? What API are you expecting?

agree with @mentos1386 let's keep it here for now

[2022-10-27 15:12] KieronWiltshire commented on #803
@iamolegga so the logger service should just implement a PinoJS instance right, where the instance is instantiated through the module `forRoot` and `forRootAsync` functions. Ideally, I should just be able to inject logger into my app, have all the implementation details hidden, and if I have say pino as my logger implementation with transports to sentry setup, all that should just be handled and a

[2022-10-27 17:11] iamolegga commented on #803
So what's the difference from current implementation that doesn't fit your needs? You can use NestJS built-in logger as a facade for pino implementation. If you don't need automatic logging just disable it with `autoLogging` field and that's it. You can use this logger in any context already.

Current feature request is about possibility to create `pino-http`-like behavior for other contexts:
1. A

[2022-10-27 17:29] iamolegga commented on #803
Have you tried something like:

[code]

https://getpino.io/#/docs/transports
https://github.com/pinojs/pino-http#api

If this doesn't work please open an issue with minimal example repo with some naive transport. I believe all next discussions should be continued there, as I can see that the current one is not related to your case

[2022-10-27 19:18] KieronWiltshire commented on #803
@iamolegga that only allows transport for the pino-http module. Would you consider reopening my issue?

[2022-10-27 19:24] iamolegga commented on #803
@KieronWiltshire could you please open an issue with the bug type and a minimal example repo?

let's open a new issue with appropriate type and end this discussion here

[2022-10-27 20:12] KieronWiltshire commented on #803
@iamolegga no need for a separate issue. After looking at the code I see what I need to do. I'll show you code snippet so you understand, but this seems ridiculously backwards. I think you should consider creating a pino instance and attaching the pino-http package to it instead of the other way around.

Here:
[code]

[2022-11-03 08:25] StevenLangbroek commented on #387
Hey @iamolegga! I'm still experiencing this (startup logs are not passed through `pino` and not json) on version 3.1.1 and NestJS 9:

![image](https://user-images.githubusercontent.com/296796/199674697-0be406d7-0715-4025-ba8c-bb826367a98e.png)

My understanding from reading this issue is that it should have been solved? My `main.ts` looks like this:

[code]

I've also tried adding `{ bufferLogs: t

[2022-11-03 08:28] iamolegga commented on #387
@StevenLangbroek please add the link to the minimal example repo. I'll reopen this issue then

[2022-11-03 08:37] StevenLangbroek commented on #387
@iamolegga here you go :) https://codesandbox.io/s/async-cookies-m98msq?file=/src/main.ts

[2022-11-03 08:42] iamolegga commented on #387
@StevenLangbroek sorry, I'm not familiar with the codesandbox, don't know how to restart server, watch logs, etc, and don't have time to learn it at the moment . Could you create a GITHUB repo please

[2022-11-03 08:46] StevenLangbroek commented on #387
༼ つ ◕_◕ ༽つ https://github.com/StevenLangbroek/nestjs-pino-applogger-repro :)

[2022-11-03 08:56] iamolegga commented on #387
[code]

[code]

---

[code]

[code]

@StevenLangbroek  must be something with your environment

[2022-11-03 10:53] StevenLangbroek commented on #387
That's weird 🤔 it happens in Kubernetes pod logs, iTerm and Warp for me... I'll dig more. thanks so far!

[2022-11-03 11:18] iamolegga commented on #387
I've checked in iTerm Build 3.4.16. Moreover there is [test](https://github.com/iamolegga/nestjs-pino/blob/master/__tests__/levels.spec.ts#L85-L95) for checking startup logs

[2022-11-03 15:24] iamolegga commented on #387
Faced with the same issue today on production (in k8s too), logs were in the same format as [here](https://github.com/iamolegga/nestjs-pino/issues/387#issuecomment-1301774847). After upgrading to the latest versions of nestjs-pino and pino-http it was solved

[2022-11-03 15:25] iamolegga commented on #387
Logs in local development were in json format though

[2022-11-09 16:26] Ginden opened #1206 "[FEATURE REQUEST] Context outside of requests"
**Is your feature request related to a problem? Please describe.**

Currently, `nestjs-pino` can't add context to Nest.js microservices, CRON calls etc.

**Describe the solution you'd like**

Ability to somehow set context (by decorator or some function) of non-request calls.

**Describe alternatives you've considered**

Theoretically, it's possible to access library internals, access `AsyncLocalS

[2022-11-09 21:13] iamolegga commented on #1206
duplicate #803

[2022-11-09 21:13] #1206 closed